<div class="text-container">
  <div class="text-row">
    <span style="font-weight: bold">Учебные планы</span>
    <span>- элементы, которые содержат информацию о семестрах и дисциплинах внутри семестра.</span>
  </div>
  <div class="text-row">
    <span>В зависимости от типа направления подготовки, выбранного при создании учебного плана, формируются семестры для учебного плана.</span>
  </div>
  <span style="font-weight: bold">Для бакалавриата - 8 семестров.</span>
  <span style="font-weight: bold">Для магистратуры - 4 семестра.</span>
  <span>В каждом семестре учебного плана можно создавать дисциплины.</span>
  <span style="font-weight: bold">Дисциплины внутри семестра не должны дублироваться по названию.</span>
  <div class="text-row">
    <span>В каждом семестре учебного плана можно закреплять преподавателя за дисциплиной.</span>
  </div>
  <div class="text-row">
    <span>Подготовленные учебные планы в дальнейшем можно прикреплять к студенческим группам.</span>
  </div>
  <span style="font-weight: bold">Для подготовки системы к контрольной неделе необходимо создать учебные планы.</span>
  <span>1. В каждом учебном плане необходимо создать ряд дисциплин.</span>
  <span>2. В каждом учебном плане необходимо закрепить дисциплины за преподавателями.</span>
  <div class="text-row">
    <span>Работа с учебными планами направления подготовки осуществляется на странице:</span>
    <a style="font-weight: bold; text-decoration: underline; color: #1a88ff" [routerLink]="['/education-plans']">Учебные
      планы.</a>
  </div>
  <div class="text-row">
    <span>Работа с кафедрами (преподавателями) осуществляется на странице:</span>
    <a style="font-weight: bold; text-decoration: underline; color: #1a88ff"
       [routerLink]="['/departments']">Кафедры.</a>
  </div>
  <div class="text-row">
    <span>Работа со студенческими группами осуществляется на странице:</span>
    <a style="font-weight: bold; text-decoration: underline; color: #1a88ff" [routerLink]="['/groups']">Студенческие
      группы.</a>
  </div>
</div>
