<div class="text-container">
  <div class="text-row">
    <span style="font-weight: bold">Направления подготовки</span>
    <span>- корневой элемент, которому принадлежат учебные планы.</span>
  </div>
  <div class="text-row">
    <span>Один экземпляр направления подготовки может включать разные учебные планы.</span>
  </div>
  <span style="font-weight: bold">Учебные планы внутри направления подготовки не должны дублироваться по годам.</span>
  <div class="text-row">
    <span style="font-weight: bold">Для подготовки системы к контрольной неделе необходимо создать направления подготовки.</span>
  </div>
  <div class="text-row">
    <span>Работа с направлениями подготовки осуществляется на странице:</span>
    <a style="font-weight: bold; text-decoration: underline; color: #1a88ff" [routerLink]="['/education-directions']">Направления
      подготовки.</a>
  </div>
  <div class="text-row">
    <span>Работа с учебными планами направления подготовки осуществляется на странице:</span>
    <a style="font-weight: bold; text-decoration: underline; color: #1a88ff" [routerLink]="['/education-plans']">Учебные
      планы.</a>
  </div>
</div>
