<section class="group-education-plan-info-container" *ngIf="group.plan != null">
  <app-floating-label-input [value]="group.plan.direction.name" [label]="'Направление'"
                            [id]="'GroupEducationDirection'" [isReadonly]="true">
  </app-floating-label-input>
  <app-floating-label-input [value]="group.plan.direction.code" [label]="'Код'"
                            [id]="'GroupEducationCode'" [isReadonly]="true">
  </app-floating-label-input>
  <app-floating-label-input [value]="group.plan.direction.type" [label]="'Тип'"
                            [id]="'GroupEducationType'" [isReadonly]="true">
  </app-floating-label-input>
  <app-floating-label-input [value]="String(group.plan.year)" [label]="'Год'"
                            [id]="'GroupEducationYear'" [isReadonly]="true">
  </app-floating-label-input>
  <app-floating-label-input [value]="String(group.activeSemesterNumber)" [label]="'Текущий семестр группы'"
                            [id]="'ActiveGroupSemester'" [isReadonly]="true">
  </app-floating-label-input>
  <app-blue-button [label]="'Сменить учебный план группы'"
                   (onClicked)="educationPlanChangeRequest.emit(group)">
  </app-blue-button>
</section>
<section class="group-education-plan-info-container" *ngIf="group.plan == null">
  <app-blue-button [label]="'Задать учебный план'"></app-blue-button>
</section>
