<div class="dropdown-content">
  <app-floating-label-input [value]="department.name"
                            [label]="'Название'"
                            [id]="'DepartmentNameInput'"
                            (inputChange)="department.name = $event">
  </app-floating-label-input>
  <div class="dropdown-controls">
    <app-green-outline-button [label]="'Изменить'" (onClicked)="submit()"></app-green-outline-button>
    <app-red-outline-button [label]="'Закрыть'" (onClicked)="close()"></app-red-outline-button>
  </div>
</div>
