<div class="users-table-wrapper">
  <div class="users-controls-container">
    <div class="dropdown-container">
      <app-blue-button [label]="'Добавить администратора'" (onClicked)="isCreatingAdmin = true"></app-blue-button>
      <app-create-admin-dropdown *ngIf="isCreatingAdmin"
                                 [visibility]="isCreatingAdmin"
                                 (visibilityChange)="isCreatingAdmin = $event"
                                 (userCreated)="handleUserCreated($event)">
      </app-create-admin-dropdown>
    </div>
    <div class="dropdown-container">
      <app-blue-button [label]="'Добавить преподавателя'" (onClicked)="isCreatingTeacher = true"></app-blue-button>
      <app-create-teacher-user-dropdown *ngIf="isCreatingTeacher"
                                        [visibility]="isCreatingTeacher"
                                        (visibilityChange)="isCreatingTeacher = $event"
                                        (userCreated)="handleUserCreated($event)">
      </app-create-teacher-user-dropdown>
    </div>
    <div class="dropdown-container">
      <app-blue-button [label]="'Фильтр'" (onClicked)="isFilteringUsers = true"></app-blue-button>
      <app-filter-user-dropdown *ngIf="isFilteringUsers"
                                [visibility]="isFilteringUsers"
                                (visibilityChange)="isFilteringUsers = $event"
                                (filtered)="filtered.emit()">
      </app-filter-user-dropdown>
    </div>
    <app-blue-outline-button [label]="'Документация'" (onClicked)="navigateToDocumentation()"></app-blue-outline-button>
  </div>
  <div class="users-table-container">
    <app-users-item *ngFor="let user of users"
                    [user]="user"
                    [isCurrentlySelected]="manageCurrentlySelectedUser(user)"
                    (selectUser)="currentlySelectedUser = $event"
                    (requestRemove)="userToRemove = $event; isDeletingUser = true">
    </app-users-item>
  </div>
  <app-users-table-pagination></app-users-table-pagination>
</div>
<app-users-remove-modal *ngIf="isDeletingUser && userToRemove"
                        [user]="userToRemove"
                        [visibility]="isDeletingUser"
                        (visibilityEmitter)="isDeletingUser = false"
                        (removeCommited)="removed.emit()">
</app-users-remove-modal>
