<div id="container">
  <div id="header">
    <p>Дисциплины {{ semester.number }} семестра</p>
    <p>Направления {{ semester.educationPlan.direction.name }}</p>
    <p>Учебного план года {{ semester.educationPlan.year }}</p>
  </div>
  <div id="content">
    <div class="controls-container">
      <button class="accept-button-modal" (click)="startCreation()">
        Добавить дисциплину
      </button>
    </div>
    <table class="disciplines-table">
      <thead>
        <tr>
          <th>Название</th>
          <th>Преподаватель</th>
          <th>Действия</th>
        </tr>
      </thead>
      <tbody>
        @for (plan of semesterPlans; track plan.discipline) {
        <tr>
          <td>{{ plan.discipline }}</td>
          <td>
            {{
              plan.teacher
                ? plan.teacher.surname +
                  " " +
                  plan.teacher.name[0] +
                  plan.teacher.patronymic[0]
                : "нет"
            }}
          </td>
          <td>
            <div class="controls-container">
              <button
                class="warning-button"
                (click)="
                  this.activeSemesterPlan = plan; this.editModalState = true
                "
              >
                Редактирование
              </button>
              <button
                class="danger-button"
                (click)="this.activeSemesterPlan = plan; startDeletion(plan)"
              >
                Удалить
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <div id="controls">
    <button class="danger-button-modal" (click)="close()">Закрыть окно</button>
  </div>
</div>
<div id="creation-modal-renderer" *ngIf="creationModalState">
  <app-semester-disciplines-creation-modal
    [semester]="semester"
    (visibility)="stopCreation($event)"
    (updateDisciplines)="updateTable($event)"
  ></app-semester-disciplines-creation-modal>
</div>
<div id="deletion-modal-renderer" *ngIf="deletionModalState">
  <app-semester-disciplines-deletion-modal
    [semesterPlan]="activeSemesterPlan"
    (visibility)="stopDeletion($event)"
    (refreshTable)="updateTable($event)"
  ></app-semester-disciplines-deletion-modal>
</div>
<div id="edit-modal-renderer" *ngIf="editModalState">
  <app-semester-disciplines-edit-modal
    [plan]="activeSemesterPlan"
    (visibilityEmitter)="this.editModalState = $event"
    (refreshEmitter)="updateTable($event)"
    (successEmitter)="isSuccess = true"
    (failureEmitter)="isFailure = true"
  ></app-semester-disciplines-edit-modal>
</div>
<div id="success-modal-renderer" *ngIf="isSuccess">
  <app-success-result-notification
    [message]="_notificationService.Message"
    (visibilityEmitter)="this.isSuccess = $event"
  ></app-success-result-notification>
</div>
<div id="failure-modal-renderer" *ngIf="isFailure">
  <app-failure-result-notification
    [message]="_notificationService.Message"
    (visibilityEmitter)="this.isFailure = $event"
  ></app-failure-result-notification>
</div>
