.teacher-assignment-session-table-wrapper {
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  border: solid 1px #d9d9d9;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.assignments-search-input {
  position: sticky;
  top: 0;
}

.teacher-assignment-session-groups {
  width: 1235px;
  overflow: auto;
  padding: 5px;
  display: inline-flex;
  flex-direction: row;
  gap: 5px;
  border-bottom: solid 1px #d9d9d9;
}

.teacher-assignment-session-disciplines {
  padding: 5px;
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  gap: 5px;
  border-bottom: solid 1px #d9d9d9;
}

.teacher-assignment-session-assignments {
  display: flex;
  flex-direction: column;
  height: 680px;
  overflow: auto;
  gap: 5px;
}
