<div class="student-groups-table-wrapper">
  <div class="student-groups-controls-container">
    <app-blue-button [label]="'Добавить'"></app-blue-button>
    <app-blue-button [label]="'Фильтр'"></app-blue-button>
    <app-blue-outline-button [label]="'Документация'" [routerLink]="['/groups-info']"></app-blue-outline-button>
  </div>
  @for (group of groups; track group.name) {
    <app-student-group-item [isCurrentlySelected]="handleGroupSelection(group)"
                            (selected)="currentlySelectedGroup = $event; studentGroupSelected.emit($event)"
                            [group]="group"></app-student-group-item>
  }
  <app-table-pagination></app-table-pagination>
</div>
