<div class="student-groups-table-wrapper">
  <div class="student-groups-controls-container">
    <div class="dropdown-container">
      <app-blue-button [label]="'Добавить'" (onClicked)="isCreatingGroup = true"></app-blue-button>
      <app-create-group-dropdown *ngIf="isCreatingGroup" [visibility]="isCreatingGroup"
                                 (visibilityChange)="isCreatingGroup = $event"
                                 (groupCreated)="handleGroupCreation($event)">
      </app-create-group-dropdown>
    </div>
    <div class="dropdown-container">
      <app-blue-button [label]="'Фильтр'" (onClicked)="isFilteringGroups = true"></app-blue-button>
      <app-filter-group-dropdown *ngIf="isFilteringGroups" [visibility]="isFilteringGroups"
                                 (visibilityChange)="isFilteringGroups = $event"
                                 (filtered)="filtered.emit()">
      </app-filter-group-dropdown>
    </div>
    <app-blue-outline-button [label]="'Документация'" (onClicked)="moveToDocumentation()"></app-blue-outline-button>
    <div class="dropdown-container">
      <app-yellow-outline-button *ngIf="currentlySelectedGroup" [label]="'Смешать группу'"
                                 (onClicked)="isMergingGroups = true">
      </app-yellow-outline-button>
      <app-merge-group-dropdown *ngIf="isMergingGroups && currentlySelectedGroup" [visibility]="isMergingGroups"
                                (visibilityChange)="isMergingGroups = $event"
                                [group]="currentlySelectedGroup" (groupMerged)="handleGroupMerge()">
      </app-merge-group-dropdown>
    </div>
  </div>
  @for (group of groups; track group.name) {
    <app-student-group-item [isCurrentlySelected]="handleGroupSelection(group)"
                            (selected)="currentlySelectedGroup = $event; studentGroupSelected.emit($event)"
                            [group]="group"
                            (removeRequested)="isRemovingGroup = true; groupToRemove = $event">
    </app-student-group-item>
  }
  <app-table-pagination (pageChange)="handlePageChange()"></app-table-pagination>
</div>
<app-remove-group-popup *ngIf="isRemovingGroup && groupToRemove" [group]="groupToRemove" [visibility]="isRemovingGroup"
                        (visibilityChange)="isRemovingGroup = false; groupToRemove = null"
                        (groupRemoveCommited)="groupDeleted.emit()">
</app-remove-group-popup>
