:host {
  z-index: 30;
  margin-left: -10px;
}

.student-group-plan-info-container {
  padding: 0.2rem;
  border-radius: 0 10px 10px 0;
  border: solid 1px #99caff;
  background: #4da3ff;
  display: inline-flex;
  flex-direction: column;
  gap: 0.2rem;
  box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
}

.student-group-content-info-container {
  margin-left: 15px;
  display: inline-flex;
  flex-direction: column;
  background: #FFFFFF;
  padding: 0.2rem;
  gap: 0.2rem;
  border-radius: 10px;
}

.student-group-info-label {
  color: #1c172e;
  font-size: 14px;
  text-decoration: underline;
  font-weight: bold;
}

.student-group-info-label-red {
  color: #E83535;
  font-size: 14px;
  text-decoration: underline;
  font-weight: bold;
}

.student-group-education-plan-title {
  margin-left: 15px;
  font-size: 16px;
  display: inline-flex;
  flex-direction: column;
  color: #FFFFFF;
  text-shadow: 1px 1px #CCCCCC;
  font-weight: bold;
}
