<div id="container">
  <div id="header">
    <strong>Изменение названия кафедры</strong>
  </div>
  <div id="content">
    <input
      [(ngModel)]="initial.name"
      class="default-input"
      placeholder="Полное название кафедры"
    />
  </div>
  <div id="controls">
    <button type="button" class="warning-button-outline" (click)="submit()">
      Изменить название
    </button>
    <button
      type="button"
      class="danger-button-modal"
      (click)="visibility.emit(false)"
    >
      Закрыть окно
    </button>
  </div>
</div>
