.semester-button-wrapper {
  gap: 0.1rem;
  display: inline-flex;
  flex-direction: row;

  &:hover .semester-button {
    background-color: #47B300;
  }
}

.semester-button {
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  background-color: #0074F2;
  width: 30px;
  border-radius: 999px;
}

.semester-button-selected {
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  background-color: #47B300;
  width: 30px;
  border-radius: 999px;
}

.semester-label {
  color: #000;
  font-weight: bold;
  font-size: 1rem;
  border-bottom: 2px solid black;
}
