<div id="container">
  <div id="header">
    <strong>Удаление пользователя</strong>
  </div>
  <div id="content">
    <a>Удалить учетную запись пользователя</a>
    <a>{{ user.name }} {{ user.surname }} {{ user.patronymic }}</a>
    <a>{{ user.email }} {{ user.role }}</a>
  </div>
  <div id="controls">
    <app-green-outline-button [label]="'Удалить'" (onClicked)="submit()"></app-green-outline-button>
    <app-red-outline-button [label]="'Закрыть диалог'" (onClicked)="close()"></app-red-outline-button>
  </div>
</div>
