<div class="education-direction-item-container">
  <div class="education-direction-name-container">
    <label>{{ direction.name }}</label>
    <div class="education-direction-controls-container">
      <app-red-button [label]="'Удалить'" (onClicked)="directionRemoveRequested.emit(direction)"></app-red-button>
      <div class="dropdown-container">
        <app-yellow-button [label]="'Редактирование'" (onClicked)="isEditVisible = true"></app-yellow-button>
        <app-education-direction-edit-dropdown *ngIf="isEditVisible" [direction]="direction"
                                               [visibility]="isEditVisible"
                                               (visibilityChanged)="isEditVisible = false"></app-education-direction-edit-dropdown>
      </div>
    </div>
  </div>
  <div class="education-direction-attributes-grid">
    <div class="attribute-name">Номер:</div>
    <div class="attribute-value">{{ direction.entityNumber }}</div>
    <div class="attribute-name">Код направления:</div>
    <div class="attribute-value">{{ direction.code }}</div>
    <div class="attribute-name">Тип направления:</div>
    <div class="attribute-value">{{ direction.type }}</div>
    <div class="attribute-name">Кол-во учебных планов:</div>
    <div class="attribute-value">{{ direction.educationPlansCount }}</div>
  </div>
</div>
