.education-direction-item-container {
  padding: 0.2rem;
  display: grid;
  grid-template-columns: 265px auto;

  &:hover .education-direction-name-container {
    transition: 0.5s ease-in-out;
    background-color: #47b300;
  }
}

.education-direction-name-container {
  padding: 0.2rem;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  background-color: #5ce600;
  color: #fff;
  display: grid;
  grid-template-rows: 20px auto;
  grid-gap: 65px;
}

.education-direction-attributes-grid {
  padding: 0.2rem;
  display: grid;
  grid-template-columns: auto auto;
  color: #000;
  border: 1px solid #cccccc;
  font-weight: bold;
  font-size: 0.9rem;
  grid-gap: 10px;
}

.attribute-name {
  border-bottom: solid 2px black;
}

.attribute-value {
  border-bottom: solid 2px black;
}

.education-direction-controls-container {
  border-top: 2px solid black;
  padding: 2px 0;
  display: inline-flex;
  gap: 5px;
}


