.session-group-reports-layout {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.navigation-links {
  display: inline-flex;
  flex-direction: row;
  gap: 30px;
  padding: 5px;
  font-size: 20px;
  font-weight: 800;
  text-decoration: underline;
  cursor: pointer;
}
