<div class="merge-group-form-layout">
  <form [formGroup]="form" class="merge-group-form">
    <div class="form-header-wrapper">
      <strong>{{ title }}</strong>
    </div>
    <div class="merge-group-form-content">
      <div class="merge-group-pair-content">
        <input
          [value]="modalInputA"
          readonly
          formGroupName="groupNameA"
          class="default-input"
          placeholder="Группа А"
        />
        <input
          [value]="modalInputB"
          readonly
          formGroupName="groupNameB"
          class="default-input"
          placeholder="Группа Б"
        />
      </div>
      <div class="merge-group-pair-content margin-top-15">
        <button
          class="btn btn-info create-button w-100"
          (click)="openSelectionA()"
        >
          Выбрать А
        </button>
        <button
          class="btn btn-info create-button w-100"
          (click)="openSelectionB()"
        >
          Выбрать Б
        </button>
      </div>
      <label class="color-yellow hint"
        >В группу А попадут студенты группы Б.</label
      >
      <div class="buttons-wrapper">
        <button
          type="button"
          class="btn btn-warning create-button w-100"
          (click)="submit()"
        >
          Объединить
        </button>
      </div>
    </div>
  </form>
</div>
<div id="group-selectionA-modal-renderer" *ngIf="isGroupSelectionAOpened">
  <app-search-group
    (modalDisabled)="checkModalState($event)"
    (selectedGroup)="getSelectedGroupAFromChild($event)"
  >
  </app-search-group>
</div>
<div id="group-selectionB-modal-renderer" *ngIf="isGroupSelectionBOpened">
  <app-search-group
    (modalDisabled)="checkModalState($event)"
    (selectedGroup)="getSelectedGroupBFromChild($event)"
  >
  </app-search-group>
</div>
<div id="success-modal-renderer" *ngIf="successModalState.Visibility">
  <app-success-notification-form
    (modalDisabled)="successModalState.turn($event)"
  ></app-success-notification-form>
</div>
<div id="failure-modal-renderer" *ngIf="failureModalState.Visibility">
  <app-failure-notification-form
    (modalDisabled)="failureModalState.turn($event)"
  ></app-failure-notification-form>
</div>
