<div class="dropdown-content">
  <app-floating-label-input [value]="teacherSurname"
                            [label]="'Фамилия'"
                            [id]="'SurnameInput'"
                            (inputChange)="teacherSurname = $event">
  </app-floating-label-input>
  <app-floating-label-input [value]="teacherName"
                            [label]="'Имя'"
                            [id]="'NameInput'"
                            (inputChange)="teacherName = $event">
  </app-floating-label-input>
  <app-floating-label-input [value]="teacherPatronymic"
                            [label]="'Отчество (необязательно)'"
                            [id]="'PatronymicInput'"
                            (inputChange)="teacherPatronymic = $event">
  </app-floating-label-input>
  <div class="dropdown-container">
    <app-floating-label-input [value]="teacherJobTitle"
                              [label]="'Должность'"
                              [id]="'JobTitleInput'"
                              [isReadonly]="true"
                              (click)="isSelectingJobTitle = true"
                              (inputChange)="teacherJobTitle = $event">
    </app-floating-label-input>
    <app-dropdown-list *ngIf="isSelectingJobTitle"
                       [items]="jobTitles"
                       (visibilityChanged)="isSelectingJobTitle = false"
                       (itemSelected)="teacherJobTitle = $event">
    </app-dropdown-list>
  </div>
  <div class="dropdown-container">
    <app-floating-label-input [value]="teacherState"
                              [label]="'Условие работы'"
                              [id]="'StateInput'"
                              [isReadonly]="true"
                              (click)="isSelectingState = true"
                              (inputChange)="teacherState = $event">
    </app-floating-label-input>
    <app-dropdown-list *ngIf="isSelectingState"
                       [items]="states"
                       (visibilityChanged)="isSelectingState = false"
                       (itemSelected)="teacherState = $event">
    </app-dropdown-list>
  </div>
  <div class="dropdown-controls">
    <app-green-outline-button [label]="'Добавить'" (onClicked)="submit()"></app-green-outline-button>
    <app-red-outline-button [label]="'Закрыть'" (onClicked)="close()"></app-red-outline-button>
  </div>
</div>
