.teacher-manage-form-layout {
  height: 300px;
  width: 350px;
  margin-top: -50px;
}

.teacher-manage-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #0b1622;
}

.form-header-wrapper {
  padding: 5px;
  font-weight: bold;
  font-size: 14px;
  color: #a1e3ff;
  background-color: #2d4048;
}

.teacher-manage-form-content {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.teacher-manage-form-button-list {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.margin-top-15 {
  margin-top: 15px;
}

.w-100 {
  padding: 5px;
  width: 100px;
}

.color-black {
  color: black;

  &:focus {
    color: black;
  }
}
