<div id="container">
  <div id="header">
    <strong>Изменение названия дисциплины</strong>
  </div>
  <div id="content">
    <app-floating-label-input [value]="discipline.disciplineName" [isReadonly]="true"
                              [label]="'Старое название'">
    </app-floating-label-input>
    <app-floating-label-input [value]="disciplineCopy.disciplineName" [label]="'Новое название дисциплины'"
                              (inputChange)="disciplineCopy.disciplineName = $event">
    </app-floating-label-input>
  </div>
  <div id="controls">
    <app-green-outline-button [label]="'Изменить название'" (onClicked)="submit()"></app-green-outline-button>
    <app-red-outline-button [label]="'Закрыть диалог'" (onClicked)="visibilityChanged.emit()"></app-red-outline-button>
  </div>
</div>
