<div class="grid-item">
  <strong>{{ Direction.entityNumber }}</strong>
  <strong
    ><strong>{{ Direction.name }}</strong></strong
  >
  <strong>{{ Direction.code }}</strong>
  <strong>{{ Direction.type }}</strong>
  <div class="button-items">
    <button class="danger-button-outline" (click)="startDeletion()">
      Удалить
    </button>
    <button class="warning-button-outline" (click)="startUpdate()">
      Редактировать
    </button>
  </div>
</div>
<div id="deletion-modal-renderer" *ngIf="deletionModalVisibility">
  <app-education-direction-delete-modal
    [direction]="Direction"
    (visibility)="stopDeletion($event)"
  ></app-education-direction-delete-modal>
</div>
<div id="update-modal-renderer" *ngIf="updateModalVisibility">
  <app-education-directions-edit-modal
    (modalDisabled)="stopUpdate($event)"
    [direction]="Direction"
    [copy]="Direction"
  ></app-education-directions-edit-modal>
</div>
