.change-discipline-part-section {
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

.change-discipline-sub-controls {
  display: inline-flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.5rem;
}
