.greeting-page-panel-layout {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  background-color: #f2f2f2;
  height: 10vh;
  border-radius: 10px;
  border: #ccc;
  box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
  justify-content: center;
  gap: 1rem;
}
