<div class="dbmanager-studentgroups-edit-group-form-layout">
  <form [formGroup]="form" class="dbmanager-studentgroups-edit-group-form">
    <div class="form-header-wrapper">
      <strong>{{ title }}</strong>
    </div>
    <div class="dbmanager-studentgroups-edit-group-form-content">
      <input
        [readOnly]="facadeService.selected.groupName == null"
        [(ngModel)]="facadeService.selected.groupName"
        formControlName="groupName"
        class="default-input"
        placeholder="Название группы"
      />
      <label class="error-label" [hidden]="isErrorHidden">{{
        errorMessage
      }}</label>
      <div class="buttons-wrapper margin-top-15">
        <button
          type="button"
          class="btn btn-info w-100"
          (click)="editOperationClick()"
        >
          Изменить
        </button>
        <button
          type="button"
          class="btn btn-danger color-black w-100"
          (click)="deleteOperationClick()"
        >
          Удалить
        </button>
      </div>
    </div>
  </form>
</div>
<div id="success-modal-form-renderer" *ngIf="successModalState.Visibility">
  <app-success-notification-form
    (modalDisabled)="successModalState.turn($event)"
  >
  </app-success-notification-form>
</div>
<div id="failure-modal-form-renderer" *ngIf="failureModalState.Visibility">
  <app-failure-notification-form
    (modalDisabled)="failureModalState.turn($event)"
  >
  </app-failure-notification-form>
</div>
