.plan-card-wrapper {
  padding: 5px;
  color: #a1e3ff;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.plan-card-content {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.teacher-state-info {
  display: flex;
  flex-direction: column;
}

.teacher-empty {
  color: #dc3545;
}

.teacher-exists {
  color: #68b08f;
}

.plan-card-button-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
