.education-direction-statistics-form-wrapper {
  background-color: #e6eaf6;
  height: auto;
  width: auto;
  border-radius: 10px;
  box-shadow: #1b274b 0 10px 20px -10px;
  font-size: 24px;
}

.education-direction-statistics-form-header-wrapper {
  border-radius: 10px 10px 0px 0px;
  padding: 5px;
  background-color: #7c91d0;
  box-shadow: #7c91d0 0 10px 20px -10px;
  color: #ffffff;
}

.education-direction-statistics-form-body {
  padding: 10px;
  font-size: 24px;
  color: #1b274b;
  font-weight: bold;
}
