<div class="education-plan-disciplines-container">
  <div class="education-plan-disciplines-controls">
    <label class="education-plan-disciplines-header">Дисциплины {{ semester.number }} семестра</label>
    <div class="education-plan-disciplines-controls-container">
      <app-blue-button [label]="'Добавить'" (onClicked)="submit()"></app-blue-button>
      <app-floating-label-input [value]="disciplineName"
                                [label]="'Название'" [id]="'DisciplineNameInput'"
                                (inputChange)="disciplineName = $event">
      </app-floating-label-input>
    </div>
    @for (item of disciplines; track item.id) {
      <app-discipline-item [discipline]="item"
                           (teacherAttachmentRequested)="disciplineForAttachmentRequest = $event"
                           (teacherDeattachmentRequested)="disciplineForDeattachmentRequest = $event"
                           (disciplineNameUpdateRequested)="disciplineForNameUpdateRequest = $event"
                           (disciplineDeletionRequested)="disciplineForDeletionRequest = $event">
      </app-discipline-item>
    }
  </div>
</div>
<app-attach-teacher-popup *ngIf="disciplineForAttachmentRequest"
                          (visibilityChanged)="disciplineForAttachmentRequest = null"
                          (selectedTeacherForAttachment)="handleTeacherAttachment($event)">
</app-attach-teacher-popup>
<app-deattach-teacher-popup *ngIf="disciplineForDeattachmentRequest"
                            [discipline]="disciplineForDeattachmentRequest"
                            (visibilityChanged)="disciplineForDeattachmentRequest = null"
                            (deattachmentCommited)="handleTeacherDeattachment($event)">
</app-deattach-teacher-popup>
<app-change-discipline-name-popup *ngIf="disciplineForNameUpdateRequest" [discipline]="disciplineForNameUpdateRequest"
                                  (visibilityChanged)="disciplineForNameUpdateRequest = null"
                                  (disciplineNameUpdateCommited)="handleDisciplineNameUpdate($event)">
</app-change-discipline-name-popup>
<app-delete-discipline-popup *ngIf="disciplineForDeletionRequest" [discipline]="disciplineForDeletionRequest"
                             (visibilityChanged)="disciplineForDeletionRequest = null"
                             (disciplineDeletionCommited)="handleDisciplineDeletion($event)"></app-delete-discipline-popup>
