<section class="admin-direction-item-container">
  <div class="admin-user-direction-wrapper">
    <label class="admin-user-direction-label">
      Направление:
    </label>
    <label class="admin-user-direction-label">
      {{ direction.name }}
    </label>
    <label class="admin-user-direction-label">
      {{ direction.type }}
    </label>
    <label class="admin-user-direction-label">
      <div [ngClass]="{'triangle_down': !isPlansShown, 'triangle_up': isPlansShown}" (click)="showPlans()"></div>
    </label>
  </div>
  <div class="education-plans-container" *ngIf="isPlansShown">
    <label class="education-plans-subtitle">Учебные планы:</label>
    <label *ngIf="direction.plans.length == 0">У направления нет учебных планов в системе</label>
    <app-admin-direction-plans *ngFor="let plan of direction.plans"
                               [plan]="plan">
    </app-admin-direction-plans>
  </div>
</section>
