<div class="teacher-fitlter-form-layout">
  <form [formGroup]="form" class="teacher-filter-form">
    <div class="form-header-wrapper">
      <strong>{{ title }}</strong>
    </div>
    <div class="teacher-filter-form-content">
      <input formControlName="name" class="default-input" placeholder="Имя" />
      <input
        formControlName="surname"
        class="default-input"
        placeholder="Фамилия"
      />
      <input
        formControlName="thirdname"
        class="default-input"
        placeholder="Отчество"
      />
      <div class="teacher-filter-button-list margin-top-15">
        <button type="button" class="btn btn-info" (click)="filter()">
          Найти
        </button>
        <button
          type="button"
          class="btn btn-danger color-black"
          (click)="cancel()"
        >
          Отменить
        </button>
      </div>
    </div>
  </form>
</div>
