<div id="container">
  <div id="header">
    <strong>Подтверждение</strong>
  </div>
  <div id="content">
    <a>Вы уверены, что Вы хотите удалить запись студента?</a>
    <a
      >При удалении из системы удалится пользователь, закрепленный за данным
      студентом</a
    >
  </div>
  <div id="controls">
    <button class="accept-button-modal" type="button" (click)="submit()">
      Подтвердить
    </button>
    ><button class="danger-button-modal" type="button" (click)="close()">
      Отмена
    </button>
  </div>
</div>
<div id="failure-modal-renderer" *ngIf="isFailure">
  <app-failure-result-notification
    [message]="notificationService.Message"
    (visibilityEmitter)="manageFailure($event)"
  ></app-failure-result-notification>
</div>
<div id="success-modal-renderer" *ngIf="isSuccess">
  <app-success-result-notification
    [message]="notificationService.Message"
    (visibilityEmitter)="manageSuccess($event)"
  ></app-success-result-notification>
</div>
