<div [ngClass]="{ 'grid-item': !isYou, 'you-grid-item': isYou }">
  <strong>{{ user.number }}</strong>
  <strong>{{ user.surname }}</strong>
  <strong>{{ user.name }}</strong>
  <strong>{{ user.patronymic }}</strong>
  <strong>{{ user.role }}</strong>
  <strong>{{ user.email }}</strong>
  <strong>{{ user.lastTimeOnline }}</strong>
  <strong>{{ user.registeredDate }}</strong>
  <div class="button-items">
    <button
      type="button"
      class="danger-button-outline"
      (click)="deletionEmitter.emit()"
    >
      Удалить
    </button>
  </div>
</div>
