<div id="container">
  <div id="header">
    <strong>Подтверждение</strong>
  </div>
  <div id="content">
    <a>Вы уверены, что Вы хотите удалить запись студенческой группы?</a>
    <a>При удалении учебной группы удалятся связанные с ней записи:</a>
    <a>Студенты</a>
  </div>
  <div id="controls">
    <button class="accept-button-modal" type="button" (click)="confirm()">
      Подтвердить
    </button>
    >
    <button class="danger-button-modal" type="button" (click)="decline()">
      Отмена
    </button>
  </div>
</div>
