<div class="dbmanager-menu-layout">
  <app-dbmanager-menu-element
    [title]="'Управление группами'"
    [routerLink]="['/database-manager-studentgroups']"
  ></app-dbmanager-menu-element>
  <app-dbmanager-menu-element
    [title]="'Управление кафедрами'"
    [routerLink]="['/database-manager-departments']"
  ></app-dbmanager-menu-element>
  <app-dbmanager-menu-element
    [title]="'Управление семестрами'"
    [routerLink]="['/database-manager-semesters']"
  >
  </app-dbmanager-menu-element>
</div>
