<div class="dbmanager-department-menu-search-teacher-form-layout">
  <form
    [formGroup]="form"
    class="dbmanager-department-menu-search-teacher-form"
  >
    <div class="form-header-wrapper">
      <strong>{{ title }}</strong>
    </div>
    <div class="dbmanager-department-menu-search-teacher-form-content">
      <input formControlName="name" class="default-input" placeholder="Имя" />
      <input
        formControlName="surname"
        class="default-input"
        placeholder="Фамилия"
      />
      <input
        formControlName="thirdname"
        class="default-input"
        placeholder="Отчество"
      />
      <div
        class="dbmanager-department-menu-search-teacher-form-button-list margin-top-15"
      >
        <button type="button" class="btn btn-info" (click)="searchClick()">
          Найти
        </button>
        <button
          type="button"
          class="btn btn-danger color-black"
          (click)="cancelClick()"
        >
          Отменить
        </button>
      </div>
    </div>
  </form>
</div>
