<div class="navigation-links">
  <a [routerLink]="'/groups'">Студенческие группы.</a>
  <a>Студенческие группы документация</a>
</div>
<section class="education-direction-info-container">
  <div class="education-direction-info-header-container">
    <strong class="education-direction-info-header">Информация о взаимодействии со студенческими группами.</strong>
  </div>
  <div class="sub-title-container">
    <strong class="sub-title">
      Студенческие группы.
    </strong>
    <div class="content-container">
      <p>Студенческие группы объединяют в себе название группы, учебный план этой группы, и текущий активный семестр
        группы.</p>
      <p>Студенческие группы содержат в себе студентов.</p>
      <p>В студенческую группу можно добавлять студентов.</p>
      <p>Студенческой группе можно задавать учебный план.</p>
      <p class="color-red">Название студенческой группы должно быть всегда уникальным.</p>
    </div>
    <strong class="sub-title">
      Студенческая группа. Добавление.
    </strong>
    <div class="content-container">
      <p class="color-red">При добавлении студенческой группы необходимо учитывать уникальность названия учебной
        группы.</p>
    </div>
    <strong class="sub-title">
      Студенческая группа. Редактирование.
    </strong>
    <div class="content-container">
      <p>Редактирование студенческой группы позволяет:</p>
      <p>Изменять название студенческой группы.</p>
      <p>Изменять учебный план и текущий семестр учебной группы.</p>
      <p>Смешивать учебные группы между собой (объединять в одну).</p>
      <p class="color-red">Изменение активного семестра происходит при изменении учебного плана группы.</p>
      <p class="color-red">При изменении названия учебной группы необходимо учитывать уникальность нового названия.</p>
    </div>
    <strong class="sub-title">
      Студенческая группа. Удаление.
    </strong>
    <div class="content-container">
      <p>При удалении студенческой группы удаляются и её студенты.</p>
      <p>При удалении студенческой группы из учебного плана пропадает запись о том закрепленной учебной группе.</p>
    </div>
    <strong class="sub-title">
      Студенческая группа. Студенты.
    </strong>
    <div class="content-container">
      <p>В студенческую группу можно добавлять студентов.</p>
      <p>При добавлении студента в студенческую группу необходимо учитывать уникальность его зачетной книжки в системе в
        целом.</p>
      <p>Студенты в студенческой группы могут иметь статус "Активен" и "Неактивен".</p>
      <p>Активные студенты учитываются в контрольной неделе.</p>
      <p>Неактивные студенты в контрольной неделе участие не принимают.</p>
    </div>
  </div>
</section>
