<div id="container">
  <div id="header">
    <strong>Смешивание группы {{ initial.name }}</strong>
  </div>
  <div id="content">
    <section class="creation-form">
      <strong class="font-white">Выбранная студенческая группа: </strong>
      <strong class="font-white"
        >Выбранная группа:
        {{ activeGroup.name == "" ? "Не выбрана" : activeGroup.name }}</strong
      >
    </section>
    <strong class="font-white">Параметры фильтра</strong>
    <div class="search-container">
      <div class="search-inputs">
        <label class="font-white">Наименование группы: </label>
        <input
          class="default-input w-400"
          [(ngModel)]="filterGroup.name"
          placeholder="Наименование группы"
        />
      </div>
      <div class="search-inputs">
        <button class="accept-button-modal" (click)="searchGroups()">
          Отфильтровать
        </button>
        <button class="danger-button-modal" (click)="fetchAllGroups()">
          Отменить фильтр
        </button>
      </div>
      <table class="search-table">
        <thead>
          <tr>
            <th>Название группы</th>
            <th>Действия</th>
          </tr>
        </thead>
        <tbody>
          @for (group of groups; track group.name) {
          <tr>
            <td>{{ group.name }}</td>
            <td>
              <button class="accept-button" (click)="selectGroup(group)">
                Выбрать
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  <div id="controls">
    <button class="accept-button-modal" type="button" (click)="submit()">
      Смешать
    </button>
    <button class="danger-button-modal" type="button" (click)="close()">
      Закрыть окно
    </button>
  </div>
</div>
<div id="success-pop-up" *ngIf="isSuccess">
  <app-success-result-notification
    [message]="notificationService.Message"
    (visibilityEmitter)="manageSuccess($event)"
  ></app-success-result-notification>
</div>
<div id="failure-pop-up" *ngIf="isFailure">
  <app-failure-result-notification
    [message]="notificationService.Message"
    (visibilityEmitter)="manageFailure($event)"
  ></app-failure-result-notification>
</div>
