<div id="container">
  <div id="header">
    <strong>Закрепление учебного плана {{ group.name }}</strong>
  </div>
  <div id="content">
    <section class="creation-form">
      <div
        class="creation-form"
        id="education-plan-info-renderer"
        *ngIf="group.plan && group.plan.direction"
      >
        <strong class="font-white">Состояние учебного плана: </strong>
        <strong class="font-white">Год: {{ group.plan.year }}</strong>
        <strong class="font-white"
        >Направление: {{ group.plan.direction.name }}</strong
        >
        <strong class="font-white"
        >Код направления: {{ group.plan.direction.code }}</strong
        >
        <strong class="font-white"
        >Тип направления: {{ group.plan.direction.type }}</strong
        >
        <strong class="font-white">
          Текущий семестр группы: {{ group.activeSemesterNumber }}
        </strong>
      </div>
      <div id="education-plan-empty-renderer" *ngIf="group.plan == null">
        <strong class="font-white">Учебный план не закреплен</strong>
      </div>
      <div
        id="education-plan-selection-renderer"
        *ngIf="selectedPlan"
      >
        <div class="creation-form">
          <span class="font-white">Выбранный учебный план:</span>
          <span class="font-white">{{ selectedPlan.year }}</span>
          <span class="font-white">{{ selectedPlan.direction.name }}</span>
          <span class="font-white">{{ selectedPlan.direction.type }}</span>
          <span class="font-white">Нажмите "Закрепить" для подтверждения</span>
        </div>
      </div>
      <button
        *ngIf="group.plan != null"
        class="danger-button-modal"
        type="button"
        (click)="submitDeattachment()"
      >
        Открепить учебный план
      </button>
    </section>
    <div class="creation-form" *ngIf="group.plan == null">
      <strong class="font-white">Направления подготовки: </strong>
      <select class="default-select w-400" (change)="selectDirection($event)">
        @for (direction of directions; track direction.code) {
          <option [value]="direction.code">
            {{ direction.name }} {{ direction.type }}
          </option>
        }
      </select>
      <strong class="font-white">Учебные планы направления: </strong>
      <table class="search-table">
        <thead>
        <tr>
          <th>Название</th>
          <th>Код</th>
          <th>Тип</th>
          <th>Год</th>
          <th>Действия</th>
        </tr>
        </thead>
        <tbody>
          @for (plan of plans; track plan.direction.code) {
            <tr>
              <td>{{ plan.direction.name }}</td>
              <td>{{ plan.direction.code }}</td>
              <td>{{ plan.direction.type }}</td>
              <td>{{ plan.year }}</td>
              <td>
                <button class="accept-button" (click)="selectPlan(plan)">
                  Выбрать
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  <div id="controls">
    <button class="accept-button-modal" type="button" (click)="submit()" *ngIf="selectedPlan">
      Закрепить
    </button>
    <button class="danger-button-modal" type="button" (click)="close()">
      Закрыть окно
    </button>
  </div>
</div>
<div id="semester-number-selection-modal" *ngIf="isSemesterSelectionVisible && selectedPlan">
  <app-semester-number-selection-modal
    [educationPlan]="selectedPlan"
    [group]="group"
    (failure)="failureEmitter.emit()"
    (success)="successEmitter.emit()"
    (refreshEmitter)="refreshEmitter.emit()"
    (visibility)="isSemesterSelectionVisible = false"
  ></app-semester-number-selection-modal>
</div>
