<div class="education-plans-card-layout">
  <div class="information-part">
    <strong>Номер: {{ plan.entityNumber }}</strong>
    <strong>Год набора: {{ plan.year }}</strong>
    <strong>Код направления: {{ plan.direction.code }}</strong>
    <strong>Название направления: {{ plan.direction.name }}</strong>
    <strong>Тип направления: {{ plan.direction.type }}</strong>
  </div>
  <div class="controls-part">
    <button type="button" class="btn btn-danger font-black">Удалить</button>
  </div>
</div>
