.session-reports-page-container {
  display: inline-flex;
  flex-direction: column;
  gap: 0.2rem;
  border-radius: 10px;
}

//.session-reports-page-container {
//  display: inline-flex;
//  flex-direction: column;
//  gap: 0.2rem;
//  background-color: #ffffff;
//  border: solid 1px #d9d9d9;
//  border-radius: 10px;
//}

.navigation-links {
  display: inline-flex;
  flex-direction: row;
  gap: 30px;
  padding: 5px;
  font-size: 20px;
  font-weight: 800;
  text-decoration: underline;
  cursor: pointer;
}

.pagination-wrapper {
  display: inline-flex;
  justify-content: center;
}
