<section class="session-reports-page-container">
  <div class="navigation-links">
    <a>Отчёты контрольных недель</a>
  </div>
  <section>
    <app-session-reports-layout [reports]="reports" (filterAccepted)="fetchData()"
                                (removeAccepted)="refreshPagination(); fetchOnPageChanged()"></app-session-reports-layout>
  </section>
  <app-session-reports-pagination (pageEmitter)="fetchOnPageChanged()"></app-session-reports-pagination>
</section>
<app-success-result-notification *ngIf="notificationService.isSuccess" [message]="notificationService.Message"
                                 (visibilityEmitter)="notificationService.reset()"></app-success-result-notification>
<app-failure-result-notification *ngIf="notificationService.isFailure" [message]="notificationService.Message"
                                 (visibilityEmitter)="notificationService.reset()"></app-failure-result-notification>
