<div id="container">
  <div id="header">
    <strong>Удалить учебный план</strong>
  </div>
  <div id="content">
    <a>Удалить учебный план {{ plan.year }} года направления</a>
    <a>{{ plan.direction.name }} {{ plan.direction.code }} {{ plan.direction.type }}</a>
    <a>При удалении учебного плана удаляются его семестры и дисциплины</a>
  </div>
  <div id="controls">
    <app-green-outline-button [label]="'Удалить'" (onClicked)="submit()"></app-green-outline-button>
    <app-red-outline-button [label]="'Закрыть диалог'" (onClicked)="close()"></app-red-outline-button>
  </div>
</div>
