.group-content-layout {
  background-color: #ffffff;
  border: solid 1px #d9d9d9;
  border-radius: 10px;
  height: 89vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.report-title-layout {
  padding: 10px;
  display: inline-flex;
  flex-direction: row;
  font-size: 18px;
  gap: 10px;
  text-align: center;
  border-bottom: 1px solid #cccccc;
}

.report-table-container {
  font-size: 12px;
  color: black;
  height: 100vh;
  overflow: auto;
}

//.report-table-layout {
//  & thead tr {
//    border: solid 1px black;
//    text-align: center;
//  }
//
//  & td,
//  & th {
//    border: solid 1px black;
//    background-color: #f9f9f9;
//  }
//
//  & tbody tr {
//    text-align: center;
//    border: solid 1px black;
//    background-color: #f9f9f9;
//  }
//}

.report-table-layout th, .report-table-layout td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.report-table-layout tr:nth-child(even) {
  background-color: #f9f9f9;
}

.report-table-layout tr:hover {
  background-color: #f5f5f5;
}


.rotate-sm-90 {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  max-height: 150px;
  text-align: left;
  min-width: 60px;
}

.results-container {
  width: auto;
  text-decoration: underline;
  padding: 5px;
  gap: 5px;
  display: flex;
  flex-direction: column;
}
