.group-content-layout {
  background-color: #ffffff;
  border: solid 1px #d9d9d9;
  border-radius: 10px;
  height: 89vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.report-title-layout {
  padding: 10px;
  display: inline-flex;
  flex-direction: row;
  font-size: 18px;
  gap: 10px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #cccccc;
}

.report-table-container {
  font-size: 12px;
  color: black;
  height: 100vh;
  overflow: auto;
}

.header-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.report-table-layout {
  border-collapse: collapse;

  & thead tr {
    background-color: #93c4fa;
    //color: #ffffff;
    text-align: center;
    position: sticky;
    top: 0;
  }

  & td,
  & th {
    padding: 5px 5px;
  }

  & tbody tr {
    text-align: center;
    background-color: #ffffff;
    border-bottom: solid 2px #d9d9d9;
  }

  & tbody tr:nth-of-type(even) {
    background-color: #ecf4ff;
    border-bottom: solid 2px #d9d9d9;
  }

  & tbody tr:last-of-type {
    border-bottom: solid 2px #d9d9d9;
  }
}
