<div class="student-pagination-wrapper">
  <div class="student-pages-list">
    <div class="btn btn-info" (click)="facadeService.moveInitialPage()">
      Начальная
    </div>
    <div class="btn btn-info" (click)="facadeService.movePreviousPage()"><</div>
    @for (page of facadeService.pages; track page) {
    <button
      (click)="(facadeService.setPage)"
      [ngClass]="[
        page == facadeService.currentPage ? 'btn btn-warning' : 'btn btn-info'
      ]"
    >
      {{ page }}
    </button>
    }
    <div class="btn btn-info" (click)="facadeService.moveNextPage()">></div>
    <div class="btn btn-info" (click)="facadeService.moveLastPage()">
      Конечная
    </div>
  </div>
</div>
