<div class="student-table-wrapper">
  <div class="student-table-header">
    <strong>Студенты группы</strong>
  </div>
  <div class="student-table-header">
    <strong>Количество студентов: {{ facadeService.count }}</strong>
  </div>
  <table class="student-table">
    <thead>
      <tr>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Зачётная книжка</th>
        <th>Состояние</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (student of facadeService.students; track student.recordBook) {
      <tr>
        <td>{{ student.name }}</td>
        <td>{{ student.surname }}</td>
        <td>{{ student.thirdname }}</td>
        <td>{{ student.recordBook }}</td>
        <td>{{ student.state }}</td>
        <td>
          <button class="btn btn-info" (click)="facadeService.select = student">
            Выбрать
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  <app-student-pagination></app-student-pagination>
</div>
