.student-table-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.student-table-header {
  padding: 5px;
  font-weight: bold;
  font-size: 14px;
  color: #a1e3ff;
  background-color: #2d4048;
}

.student-table {
  color: #a1e3ff;
  border-collapse: collapse;
  background-color: #0b1622;
  min-width: 900px;

  & thead tr {
    background-color: #2d4048;
    color: #a1e3ff;
    text-align: left;
  }

  & td,
  & th {
    padding: 5px 5px;
  }

  & tbody tr {
    border-bottom: 1px solid #3e5a66;
  }

  & tbody tr:nth-of-type(even) {
    background-color: #2d4048;
  }

  & tbody tr:last-of-type {
    border-bottom: 2px solid #3e5a66;
  }
}

.button-list {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
