.add-icon-button-container {
  display: block;
  border: solid 2px #47b300;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    border: solid 2px #5ce600;
  }
}

.add-icon-button-layout {
  padding: 2px;
  filter: invert(56%) sepia(86%) saturate(1300%) hue-rotate(56deg) brightness(88%) contrast(101%);

  &:hover {
    filter: invert(76%) sepia(54%) saturate(2733%) hue-rotate(47deg) brightness(97%) contrast(111%);
  }
}
