.default-input {
  box-shadow: inset #fff 0 0 0 2px;
  background: #93c4fa;
  border-radius: 30px;
  border: 1px #fff;
  appearance: none;
  width: 100%;
  position: relative;
  padding: 0.75em 1.5em;
  line-height: 1.4;
  color: darken(#1fbded, 35%);
  height: 40px;
  transition: all 0.2s ease;
  outline: none;
  text-indent: 0.01px;
}
