@import "modals.scss";
@import "buttons.scss";
@import "inputs.scss";
@import "selects.scss";
@import "tab-forms.scss";

@font-face {
  font-family: OpenSans;
  src: url("./assets/OpenSans-Regular.ttf");
}

html,
body,
:root {
  font-family: "OpenSans";
  background-color: #ffffff;
}

.navigation-links {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 5px;
  font-size: 20px;
  font-weight: 800;
  text-decoration: underline;
  cursor: pointer;
}
