<div class="dropdown-content">
  <app-floating-label-input [value]="active" [label]="'Статус'"
                            [id]="'Active'" [isReadonly]="true" (click)="selectStatus(active)">
  </app-floating-label-input>
  <app-floating-label-input [value]="inactive" [label]="'Статус'"
                            [id]="'Active'" [isReadonly]="true" (click)="selectStatus(inactive)">
  </app-floating-label-input>
  <div class="dropdown-controls">
    <app-red-outline-button [label]="'Закрыть окно'" (onClicked)="closeDropdown()"></app-red-outline-button>
  </div>
</div>
