<div class="department-manage-form-layout">
  <form [formGroup]="form" class="department-manage-form">
    <div class="form-header-wrapper">
      <strong>{{ title }}</strong>
    </div>
    <div class="department-manage-form-content">
      <input
        [(ngModel)]="facadeService.selected.name"
        formControlName="departmentName"
        class="default-input"
        placeholder="Название кафедры"
      />
      <div class="buttons-wrapper margin-top-15">
        <button type="button" class="btn btn-info w-100" (click)="editClick()">
          Изменить
        </button>
        <button
          type="button"
          class="btn btn-danger color-black w-100"
          (click)="deleteClick()"
        >
          Удалить
        </button>
      </div>
    </div>
  </form>
</div>
<div id="success-modal-renderer" *ngIf="successModalState.Visibility">
  <app-success-notification-form
    (modalDisabled)="successModalState.turn($event)"
  ></app-success-notification-form>
</div>
<div id="failure-modal-renderer" *ngIf="failureModalState.Visibility">
  <app-failure-notification-form
    (modalDisabled)="failureModalState.turn($event)"
  ></app-failure-notification-form>
</div>
