<div id="container">
  <div id="header">
    <strong>Выберите номер текущего семестра группы.</strong>
  </div>
  <div id="content">
    <section class="creation-form">
      <select
        class="default-select w-400"
        (change)="selectSemesterNumber($event)"
      >
        @for (semester of semesterNumbers; track semester) {
        <option [value]="semester">
          {{ semester }}
        </option>
        }
      </select>
    </section>
  </div>
  <div id="controls">
    <button class="accept-button-modal" type="button" (click)="submit()">
      Закрепить учебный план
    </button>
    <button
      class="danger-button-modal"
      type="button"
      (click)="visibility.emit()"
    >
      Закрыть окно
    </button>
  </div>
</div>
