<div class="dropdown-content">
  <app-floating-label-input [value]="group.name" [label]="'Текущая группа'" [id]="'CurrentGroupNameId'"
                            [isReadonly]="true">
  </app-floating-label-input>
  <div class="dropdown-container">
    <app-floating-label-input [value]="selectOtherGroupLabel" [label]="'Другая группа'" [id]="'SelectOtherGroupInput'"
                              [isReadonly]="true"
                              (click)="isSelectingOtherGroup = true" (inputChange)="selectOtherGroupLabel = $event">
    </app-floating-label-input>
    <app-dropdown-list *ngIf="isSelectingOtherGroup" [items]="groupNames"
                       (visibilityChanged)="isSelectingOtherGroup = $event"
                       (itemSelected)="otherGroupSelectedHandler($event)">
    </app-dropdown-list>
  </div>
  <div class="dropdown-controls">
    <app-green-outline-button *ngIf="selectedGroup" [label]="'Смешать'"
                              (onClicked)="submit()">
    </app-green-outline-button>
    <app-red-outline-button [label]="'Закрыть'"
                            (onClicked)="close()">
    </app-red-outline-button>
  </div>
</div>
