.menu-element-form-wrapper {
  background-color: #ffffff;
  border: solid 1px #d9d9d9;
  height: 150px;
  width: 300px;
  border-radius: 10px;
}

.menu-element-header-wrapper {
  border-radius: 10px 10px 0px 0px;
  padding: 15px;
  border-bottom: solid 1px #d9d9d9;
}

.menu-element-form-header {
  color: #1c172e;
  font-weight: 800;
  font-size: 18px;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 5px;
  position: relative;
  bottom: -40px;
}
