<div class="navigation-links">
  <a [routerLink]="'/departments'">Кафедры</a>
  <a>Кафедры документация.</a>
</div>
<section class="education-direction-info-container">
  <div class="education-direction-info-header-container">
    <strong class="education-direction-info-header">Информация о взаимодействии с кафедрами.</strong>
  </div>
  <div class="sub-title-container">
    <strong class="sub-title">
      Кафедра.
    </strong>
    <div class="content-container">
      <p>Кафедра объявляет в себе название кафедры и содержит преподавателей.</p>
      <p>Преподаватели нужны для того, чтобы можно было зарегистрировать пользователя как преподавателя.</p>
      <p>В текущей системе один преподаватель содержится в одной кафедре.</p>
    </div>
    <strong class="sub-title">
      Кафедра. Добавление.
    </strong>
    <div class="content-container">
      <p>При добавлении кафедры в систему, необходимо учитывать её уникальное название.</p>
    </div>
    <strong class="sub-title">
      Кафедра. Удаление.
    </strong>
    <div class="content-container">
      <p>При удалении кафедры, удаляются и её преподаватели.</p>
      <p class="color-red">Пользователи, которые были зарегистрированы как преподаватели удаленной кафедры - не
        удаляются.</p>
    </div>
    <strong class="sub-title">
      Кафедра. Редактирование.
    </strong>
    <div class="content-container">
      <p>Редактирование кафедры допускает изменение названия кафедры.</p>
    </div>
    <strong class="sub-title">
      Кафедра. Преподаватели.
    </strong>
    <div class="content-container">
      <p>Операции над преподавателями в кафедрах:</p>
      <p>Добавление преподавателя.</p>
      <p>Удаление преподавателя.</p>
      <p class="color-red">При удалении преподавателя, пользователь, зарегистрированный как этот преподаватель - не
        удаляется.</p>
      <p>Редактирование данных преподавателя.</p>
      <p class="color-red">При редактировании преподавателя, пользователь, зарегистрированный как этот преподаватель -
        не изменяется.</p>
    </div>
  </div>
</section>
