<div id="container">
  <div id="header">
    <p>Добавление дисциплины для</p>
    <p>{{ semester.number }} семестра</p>
    <p>Направления {{ semester.educationPlan.direction.name }}</p>
    <p>Учебного плана года {{ semester.educationPlan.year }}</p>
  </div>
  <div id="content">
    <form class="creation-form" [formGroup]="form">
      <input
        formControlName="name"
        class="default-input"
        placeholder="Название дисциплины"
      />
    </form>
  </div>
  <div id="controls">
    <button class="accept-button-modal" (click)="submit()">Добавить</button>
    <button class="danger-button-modal" (click)="close()">Закрыть окно</button>
  </div>
</div>
<div id="success-modal-renderer" *ngIf="isSuccess">
  <app-success-result-notification
    [message]="notificationService.Message"
    (visibilityEmitter)="isSuccess = $event"
  ></app-success-result-notification>
</div>
<div id="failure-modal-renderer" *ngIf="isFailure">
  <app-failure-result-notification
    [message]="notificationService.Message"
    (visibilityEmitter)="isFailure = $event"
  ></app-failure-result-notification>
</div>
