<div class="semester-create-form-layout">
  <form [formGroup]="form" class="semester-create-form" (submit)="submit()">
    <div class="form-header-wrapper">
      <strong>{{ title }}</strong>
    </div>
    <div class="semester-create-form-content">
      <input
        readonly
        [value]="selectedStudentGroupFromChild"
        (click)="openGroupSelectionModal()"
        formControlName="groupName"
        class="default-input"
        placeholder="Название группы"
      />
      <input
        readonly
        [value]="
          selectedSemesterNumberValueFromChild == 0
            ? ''
            : selectedSemesterNumberValueFromChild
        "
        (click)="openNumberSelectionModal()"
        formControlName="number"
        class="default-input"
        placeholder="Номер семестра"
      />
      <button class="btn btn-info w-100 margin-top-15">Добавить</button>
    </div>
  </form>
</div>
<div id="group-selection-modal-renderer" *ngIf="isGroupSelectionModalOpened">
  <app-search-group
    (selectedGroup)="getSelectedGroupFromChild($event)"
    (modalDisabled)="checkModalState($event)"
  >
  </app-search-group>
</div>
<div id="number-selection-modal-renderer" *ngIf="isNumberSelectionModalOpened">
  <app-semester-number-selection-modal
    (selectedValue)="getSelectedNumberFromChild($event)"
    (modalDisabled)="checkModalState($event)"
  >
  </app-semester-number-selection-modal>
</div>
<div id="success-modal-renderer" *ngIf="successModalState.Visibility">
  <app-success-notification-form
    (modalDisabled)="successModalState.turn($event)"
  ></app-success-notification-form>
</div>
<div id="failure-modal-renderer" *ngIf="failureModalState.Visibility">
  <app-failure-notification-form
    (modalDisabled)="failureModalState.turn($event)"
  ></app-failure-notification-form>
</div>
