.session-report-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 30vh;
  background-color: #e7debe;
  border-radius: 0px 50px 0px 0px;
  border: solid 1px #cccccc;
  font-size: 16px;
  gap: 5px
}

.session-report-period-container {
  font-size: 14px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 2px solid #cccccc;
  width: 100%;
}

.session-report-menu-container {
  background-color: #ECF4FF;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
