<div class="session-report-item-container">
  <div class="session-report-item-name-container">
    <strong>{{ report.creationDate | date: 'y' }}</strong>
    <strong>{{ report.season }}</strong>
    <strong>{{ report.number }}</strong>
  </div>
  <div class="session-report-item-attributes-grid">
    <span class="attribute">Дата начала:</span>
    <span class="attribute">{{ report.creationDate | date: 'd-M-y' }}</span>
    <span class="attribute">Дата окончания:</span>
    <span class="attribute">{{ report.completionDate | date: 'd-M-y' }}</span>
  </div>
  <div class="session-report-item-controls-container">
    <app-blue-button [label]="'Статистика групп'" (onClicked)="navigateToGroupStatistics()"></app-blue-button>
    <app-blue-button [label]="'Статистика направлений'" (onClicked)="navigateToCourseStatistics()"></app-blue-button>
    <app-red-button [label]="'Удалить'" (onClicked)="removeRequested.emit(report)"></app-red-button>
  </div>
</div>
