<div class="dropdown-content">
  <app-floating-label-input [value]="surname"
                            [label]="'Фамилия'"
                            [id]="'SurnameInput'"
                            (inputChange)="surname = $event">
  </app-floating-label-input>
  <app-floating-label-input [value]="name"
                            [label]="'Имя'"
                            [id]="'NameInput'"
                            (inputChange)="name = $event">
  </app-floating-label-input>
  <app-floating-label-input [value]="patronymic"
                            [label]="'Отчество'"
                            [id]="'PatronymicInput'"
                            (inputChange)="patronymic = $event">
  </app-floating-label-input>
  <app-floating-label-input [value]="email"
                            [label]="'Почта'"
                            [id]="'EmailInput'"
                            (inputChange)="email = $event">
  </app-floating-label-input>
  <div class="dropdown-container">
    <app-floating-label-input [value]="role"
                              [label]="'Роль'"
                              [id]="'RoleInput'"
                              [isReadonly]="true"
                              (inputChange)="role = $event"
                              (click)="isSelectingRole = true">
    </app-floating-label-input>
    <app-dropdown-list *ngIf="isSelectingRole"
                       [items]="roles"
                       (visibilityChanged)="isSelectingRole = $event"
                       (itemSelected)="role = $event">
    </app-dropdown-list>
  </div>
  <div class="dropdown-controls">
    <app-green-outline-button [label]="'Применить'" (onClicked)="submit()"></app-green-outline-button>
    <app-red-outline-button [label]="'Отменить'" (onClicked)="cancel()"></app-red-outline-button>
    <app-red-outline-button [label]="'Закрыть'" (onClicked)="close()"></app-red-outline-button>
  </div>
</div>
