.greeting-page-header-layout {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  background-color: #5ce600;
  height: 10vh;
  border-radius: 10px;
  border: solid 1px #7BB662;
  box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
}

.header-label {
  padding: 5rem;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px #000000;
}

.header-image {
  box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
  border: solid 1px #fff;
  background-color: #cccccc;
  border-radius: 10px;
  padding: 1rem;
  max-width: 100%;
  max-height: 100%;
}
