<div class="password-update-container">
  <div class="password-update-header-wrapper">
    <strong class="password-update-header">Изменение пароля</strong>
  </div>
  <div class="password-update-content">
    <input class="general-input" type="password" [(ngModel)]="currentPassword" placeholder="Введите текущий пароль">
    <input class="general-input" type="password" [(ngModel)]="updatedPassword" placeholder="Введите новый пароль">
  </div>
  <div class="button-container">
    <button class="accept-button-outline" (click)="submit()">Подтвердить</button>
  </div>
</div>
