.menu-element-form {
  background-color: #22343c;
  height: 115px;
  width: 300px;
}

.menu-element-header-wrapper {
  padding: 5px;
  background-color: #2d4048;
}

.menu-element-form-header {
  color: #a1e3ff;
  font-weight: bold;
  font-size: 14px;
}

.button-container {
  padding: 5px;
  margin-top: 30px;
}
