<div id="container">
  <div id="header">
    <strong>Открепление учебного плана {{ group.name }}</strong>
  </div>
  <div id="content">
    <strong>Открепить учебный план</strong>
    <strong>{{ group.plan.direction.name }} {{ group.plan.direction.code }} {{ group.plan.direction.type }} {{ group.plan.year }}</strong>
    <strong>От группы {{ group.name }}</strong>
  </div>
  <div id="controls">
    <app-green-outline-button [label]="'Открепить'"
                              (onClicked)="submit()">
    </app-green-outline-button>
    <app-red-outline-button [label]="'Закрыть диалог'" (onClicked)="close()"></app-red-outline-button>
  </div>
</div>
