<ng-template #template>
  <div class="modal-header-wrapper">
    <h4 class="modal-title pull-left">Подтверждение</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Закрыть"
      (click)="close()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="content-section">
      <div class="content-section-row">
        <strong>
          <p>При удалении направления подготовки будет удалено следующее:</p>
          <p>1. Направление подготовки.</p>
          <p>2. Учебный план связанного направления.</p>
          <p>3. Студенческие группы связанного плана.</p>
          <p>4. Семестры связанного плана.</p>
          <p>5. Дисциплины связанных семестров.</p>
          <p>6. Студенты связанной группы.</p>
          <p>7. Оценки студентов.</p>
        </strong>
      </div>
      <div class="content-section-row">
        <button class="btn btn-warning w-100 font-black" (click)="confirm()">
          Подтвердить
        </button>
        <button class="btn btn-danger w-100 font-black" (click)="decline()">
          Отмена
        </button>
      </div>
    </div>
  </div>
</ng-template>
