<div id="container">
  <div id="header">
    <strong>Задача учебного плана группе {{ group.name }}</strong>
  </div>
  <div id="content">
    <div class="dropdown-container">
      <app-floating-label-input [value]="selectDirectionLabel" [label]="'Направление подготовки'"
                                [id]="'EducationDirectionSelection'" [isReadonly]=true
                                (click)="isSelectingDirection = true">
      </app-floating-label-input>
      <app-education-directions-select *ngIf="isSelectingDirection"
                                       [isSelecting]="isSelectingDirection"
                                       (visibilityChanged)="isSelectingDirection = false"
                                       (directionSelected)="handleDirectionSelect($event)">
      </app-education-directions-select>
    </div>
    <div class="dropdown-container" *ngIf="selectedDirection">
      <app-floating-label-input [value]="selectEducationPlanLabel" [isReadonly]="true" [id]="'EducationPlanSelection'"
                                (click)="isSelectingEducationPlan = true" [label]="'Учебный план'">
      </app-floating-label-input>
      <app-dropdown-list *ngIf="isSelectingEducationPlan" [items]="getPlanYearsAsStringArray()"
                         (visibilityChanged)="isSelectingEducationPlan = $event"
                         (itemSelected)="handlePlanSelect($event)">
      </app-dropdown-list>
    </div>
    <div *ngIf="selectedEducationPlan" class="dropdown-container">
      <app-floating-label-input [value]="selectSemesterLabel" [label]="'Текущий семестр'" [isReadonly]="true"
                                [id]="'SemesterSelectionInput'"
                                (click)="isSelectingActiveSemester = true">
      </app-floating-label-input>
      <app-dropdown-list *ngIf="isSelectingActiveSemester" [items]="getSemesterNumbersAsStringArray()"
                         (visibilityChanged)="isSelectingActiveSemester = false"
                         (itemSelected)="handleSemesterSelect($event)">
      </app-dropdown-list>
    </div>
  </div>
  <div id="controls">
    <app-green-outline-button *ngIf="selectedDirection && selectedSemester && selectedEducationPlan" [label]="'Задать'"
                              (onClicked)="submit()"></app-green-outline-button>
    <app-red-outline-button [label]="'Закрыть диалог'" (onClicked)="close()"></app-red-outline-button>
  </div>
</div>
