<div class="dropdown-container">
  <div></div>
  <app-teacher-edit-dropdown *ngIf="isEditingTeacher && teacherToEdit" [visibility]="isEditingTeacher"
                             [teacher]="teacherToEdit"
                             [department]="department"
                             (visibilityChanged)="isEditingTeacher = false; teacherToEdit = null">
  </app-teacher-edit-dropdown>
  <app-teacher-create-dropdown *ngIf="isCreatingTeacher"
                               [department]="department"
                               [visibility]="isCreatingTeacher"
                               (visibilityChange)="isCreatingTeacher = false"
                               (teacherCreated)="handleTeacherCreation($event)">
  </app-teacher-create-dropdown>
</div>
<div class="teachers-menu-wrapper">
  <strong class="department-name-header">{{ department.name }}</strong>
  <div class="teacher-menu-controls">
    <app-blue-button [label]="'Добавить'" (onClicked)="isCreatingTeacher = true"></app-blue-button>
  </div>
  <app-teacher-item *ngFor="let teacher of department.teachers"
                    [teacher]="teacher"
                    (teacherEditClicked)="isEditingTeacher = true; teacherToEdit = $event"
                    (teacherDeleteClicked)="isDeletingTeacher = true; teacherToRemove = $event">
  </app-teacher-item>
</div>
<app-teacher-remove-popup *ngIf="isDeletingTeacher && teacherToRemove"
                          [visibility]="isDeletingTeacher"
                          [teacher]="teacherToRemove"
                          [department]="department"
                          (deletionCommit)="handleTeacherDeletion($event)"
                          (visibilityChange)="isDeletingTeacher = false; teacherToRemove = null">
</app-teacher-remove-popup>
