<div id="container">
  <div id="header">
    <strong>Добавление учебного плана</strong>
  </div>
  <div id="content">
    <form class="creation-form" [formGroup]="form">
      <input
        formControlName="year"
        class="default-input"
        placeholder="Год набора"
      />
      <strong class="font-white">Выберите направление подготовки</strong>
    </form>
    <div class="search-container">
      <div class="search-table-wrapper">
        <table class="search-table">
          <thead>
          <tr>
            <th>Название</th>
            <th>Код</th>
            <th>Тип</th>
            <th>Действия</th>
          </tr>
          </thead>
          <tbody>
            @for (direction of directions; track direction.code) {
              <tr>
                <td>{{ direction.name }}</td>
                <td>{{ direction.code }}</td>
                <td>{{ direction.type }}</td>
                <td>
                  <button
                    class="accept-button"
                    (click)="selectDirection(direction)"
                  >
                    Выбрать
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
      <div *ngIf="direction">
        <p class="font-white">Направление:</p>
        <p class="font-white">{{ direction.name }}</p>
        <p class="font-white">{{ direction.code }}</p>
        <p class="font-white">{{ direction.type }}</p>
      </div>
    </div>
  </div>
  <div id="controls">
    <button class="accept-button-modal" type="button" (click)="submit()" *ngIf="direction">
      Добавить
    </button>
    <button
      class="danger-button-modal"
      type="button"
      (click)="visibility.emit(false)"
    >
      Закрыть окно
    </button>
  </div>
</div>
