<div class="dbmanager-group-menu-create-student-form-layout">
  <form
    [formGroup]="form"
    class="dbmanager-group-menu-create-student-form"
    (submit)="submit()"
  >
    <div class="form-header-wrapper">
      <strong>{{ title }}</strong>
    </div>
    <div class="dbmanager-group-menu-create-student-form-content">
      <input formControlName="name" class="default-input" placeholder="Имя" />
      <input
        formControlName="surname"
        class="default-input"
        placeholder="Фамилия"
      />
      <input
        formControlName="thirdname"
        class="default-input"
        placeholder="Отчество"
      />
      <input
        type="number"
        formControlName="recordBook"
        class="default-input"
        placeholder="Зачётная книжка"
      />
      <select class="default-select" formControlName="state">
        <option value="Активен">Активен</option>
        <option value="Неактивен">Неактивен</option>
      </select>
      <label class="error-label" [hidden]="isErrorHidden">{{
        errorMessage
      }}</label>
      <button class="btn btn-info w-100 margin-top-15">Добавить</button>
    </div>
  </form>
</div>
<div id="success-modal-renderer" *ngIf="successModalState.Visibility">
  <app-success-notification-form
    (modalDisabled)="successModalState.turn($event)"
  ></app-success-notification-form>
</div>

<div id="failure-modal-renderer" *ngIf="failureModalState.Visibility">
  <app-failure-notification-form
    (modalDisabled)="failureModalState.turn($event)"
  ></app-failure-notification-form>
</div>
