.grid-item {
  padding: 5px 0px;
  display: grid;
  grid-template-columns: 50px 150px 350px 150px 150px 100px auto;
  grid-gap: 10px;
  text-align: center;
  border: solid 1px #d9d9d9;
  border-radius: 10px;
  align-items: center;
}

.button-items {
  padding: 0px 20px;
  display: flex;
  gap: 5px;
}
