<div class="grid-item">
  <strong>{{ group.entityNumber }}</strong>
  <strong>{{ group.name }}</strong>
  <strong>{{
    group.plan.direction.name == "" ? "Не задан" : group.plan.direction.name
  }}</strong>
  <strong>{{
    group.plan.direction.code == "" ? "Не задан" : group.plan.direction.code
  }}</strong>
  <strong>{{
    group.plan.direction.type == "" ? "Не задан" : group.plan.direction.type
  }}</strong>
  <strong>{{ group.plan.year == 0 ? "Не задан" : group.plan.year }}</strong>
  <div class="button-items">
    <button class="accept-button-outline">Студенты</button>
    <button class="warning-button-outline" (click)="openEditModal()">
      Редактирование
    </button>
    <button class="danger-button-outline" (click)="openDeletionModal()">
      Удалить
    </button>
  </div>
</div>
<div id="remove-modal-renderer" *ngIf="deletionModalState">
  <app-student-group-remove-modal
    [group]="group"
    (visibility)="closeDeletionModal($event)"
  ></app-student-group-remove-modal>
</div>
<div id="edit-modal-renderer" *ngIf="editModalState">
  <app-student-group-edit-modal
    [group]="group"
    [copy]="group"
    (visibility)="closeEditModal($event)"
  ></app-student-group-edit-modal>
</div>
