<div id="container">
  <div id="header">
    <strong>Изменение данных преподавателя</strong>
  </div>
  <div id="content">
    <form class="creation-form" [formGroup]="form">
      <input
        [(ngModel)]="activeTeacher.surname"
        formControlName="surname"
        class="default-input"
        placeholder="Фамилия"
      />
      <input
        [(ngModel)]="activeTeacher.name"
        formControlName="name"
        class="default-input"
        placeholder="Имя"
      />
      <input
        [(ngModel)]="activeTeacher.patronymic"
        formControlName="thirdname"
        class="default-input"
        placeholder="Отчество"
      />
      <div class="teacher-attributes-selection-container">
        <strong class="font-white">Выбрать условия работы: </strong>
        <strong class="font-white">Выбрать должность: </strong>
        <select
          [(ngModel)]="activeTeacher.state"
          class="default-select"
          formControlName="workingCondition"
        >
          <option>Штатный</option>
          <option>Совместитель</option>
          <option>Удаленный совместитель</option>
        </select>
        <select
          [(ngModel)]="activeTeacher.jobTitle"
          class="default-select"
          formControlName="jobTitle"
        >
          <option>Ассистент</option>
          <option>Доцент</option>
          <option>Профессор</option>
          <option>Старший преподаватель</option>
        </select>
      </div>
    </form>
  </div>
  <div id="controls">
    <button type="button" class="warning-button-outline" (click)="submit()">
      Изменить
    </button>
    <button
      type="button"
      class="danger-button-modal"
      (click)="visibilityEmitter.emit(false)"
    >
      Закрыть окно
    </button>
  </div>
</div>
