<div class="dbmanager-departments-table-wrapper">
  <div class="dbmanager-departments-table-header">
    <strong>Текущие кафедры</strong>
  </div>
  <div class="dbmanager-departments-table-header">
    <strong>Количество кафедр: {{ facadeService.count }}</strong>
  </div>
  <table class="departments-table">
    <thead>
      <tr>
        <th>Название</th>
        <th>Число преподавателей</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (department of facadeService.departments; track department.name) {
      <tr>
        <td>{{ department.name }}</td>
        <td>{{ department.teachersCount }}</td>
        <td class="button-list">
          <button
            class="btn btn-info"
            [routerLink]="['/department-menu', department.name]"
            routerLinkActive="router-link-active"
          >
            Открыть меню
          </button>
          <button
            class="btn btn-info"
            (click)="facadeService.setSelection = department"
          >
            Выбрать
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  <app-dbmanager-departments-pagination></app-dbmanager-departments-pagination>
</div>
