.session-reports-filter-input-row-container {
  padding: 10px;
  background-color: #ffffff;
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  border: solid 1px #cccccc;

  & input {
    width: 50%;
  }

  & select {
    width: 50%;
  }
}

.session-reports-controls-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
