.session-reports-filter-input-row-container {
  padding: 10px;
  background-color: #ffffff;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 5px;
  border: solid 1px #cccccc;

  & strong {
    border-bottom: solid 1px #cccccc;
    padding: 5px 0px;
  }

  & input {
    width: 100%;
  }
}

.session-reports-controls-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
