<div class="session-reports-filter-input-row-container">
  <strong>Фильтр по периоду</strong>
  <input type="date" [(ngModel)]="startDateStringRepresentation" placeholder="Введите дату начала контрольной недели">
  <input type="date" [(ngModel)]="endDateStringRepresentation" placeholder="Введите дату окончания контрольной недели">
  <div class="session-reports-controls-container">
    <button (click)="submit()" class="accept-button">Применить</button>
    <button (click)="cancelFilter()" class="danger-button">Отменить</button>
  </div>
</div>
