:host {
  transition: 0.1s;
  display: flex;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

#container {
  width: 40%;
  border-radius: 15px;
  background-color: #016ef6;

  #header {
    display: flex;
    font-size: 32px;
    font-weight: 800;
    align-items: center;
    align-self: center;
    padding: 10px;
    color: #ffffff;
    border-bottom: solid 1px #ffffff;
  }

  #content {
    color: #fff;
    font-weight: 800;
    flex-grow: 1;
    padding: 30px;
    font-size: 20px;
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #controls {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    border-top: solid 1px #ffffff;
    bottom: 0px;
    right: 0px;
    padding: 20px;
  }
}
