<div id="container">
  <div id="header">
    <strong>Добавление пользователя</strong>
  </div>
  <div id="content">
    <section class="creation-form">
      <input
        [(ngModel)]="user.surname"
        class="default-input"
        placeholder="Фамилия"
      />
      <input [(ngModel)]="user.name" class="default-input" placeholder="Имя" />
      <input
        [(ngModel)]="user.thirdname"
        class="default-input"
        placeholder="Отчество"
      />
      <input
        [(ngModel)]="user.email"
        class="default-input"
        placeholder="Почта"
      />
      <select [(ngModel)]="user.role" class="default-select">
        <option disabled selected>Выберите права пользователя</option>
        <option>Администратор</option>
        <option>Преподаватель</option>
        <option>Преподаватель с правами администратора</option>
      </select>
    </section>
  </div>
  <div id="controls">
    <button class="accept-button-modal" type="button" (click)="submit()">
      Добавить
    </button>
    ><button
      class="danger-button-modal"
      type="button"
      (click)="visibilityEmitter.emit(false)"
    >
      Закрыть окно
    </button>
  </div>
</div>
