<div id="container">
  <div id="header">
    <strong>Добавление пользователя</strong>
  </div>
  <div id="content">
    <button
      class="accept-button-modal"
      type="button"
      (click)="_isCreatingAdmin = true"
    >
      Зарегистрировать как администратора
    </button>
    <button
      class="accept-button-modal"
      type="button"
      (click)="_isCreatingTeacher = true"
    >
      Зарегистрировать как преподавателя
    </button>
  </div>
  <div id="controls">
    ><button
      class="danger-button-modal"
      type="button"
      (click)="visibilityEmitter.emit(false)"
    >
      Закрыть окно
    </button>
  </div>
</div>
<div id="admin-modal-renderer" *ngIf="_isCreatingAdmin">
  <app-users-create-admin-modal
    (failure)="failureEmitter.emit()"
    (success)="successEmitter.emit()"
    (refreshEmitter)="refreshEmitter.emit()"
    (visibility)="_isCreatingAdmin = $event"
  ></app-users-create-admin-modal>
</div>
<div id="teacher-modal-renderer" *ngIf="_isCreatingTeacher">
  <app-users-create-teacher-modal
    (failure)="failureEmitter.emit()"
    (success)="successEmitter.emit()"
    (refreshEmitter)="refreshEmitter.emit()"
    (visibility)="_isCreatingTeacher = $event"
  ></app-users-create-teacher-modal>
</div>
