<div class="dropdown-content">
  <app-floating-label-input [value]="userSurname"
                            [label]="'Фамилия'"
                            [id]="'Surname'"
                            (inputChange)="userSurname = $event">
  </app-floating-label-input>
  <app-floating-label-input [value]="userName"
                            [label]="'Имя'"
                            [id]="'Name'"
                            (inputChange)="userName = $event">
  </app-floating-label-input>
  <app-floating-label-input [value]="userPatronymic"
                            [label]="'Отчество'"
                            [id]="'Patronymic'"
                            (inputChange)="userPatronymic = $event">
  </app-floating-label-input>
  <app-floating-label-input [value]="userEmail"
                            [label]="'Почта'"
                            [id]="'Email'"
                            (inputChange)="userEmail = $event">
  </app-floating-label-input>
  <div class="dropdown-controls">
    <app-green-outline-button [label]="'Добавить'" (onClicked)="submit()"></app-green-outline-button>
    <app-red-outline-button [label]="'Закрыть'" (onClicked)="closeDropdown()"></app-red-outline-button>
  </div>
</div>
