<div class="text-container">
  <div class="text-row">
    <span style="font-weight: bold">Студенческие группы</span>
    <span>- элементы, которые содержат информацию о студентах.</span>
  </div>
  <span>Для того, чтобы студенческая группа смогла участвовать в контрольной неделе необходимо:</span>
  <span style="font-weight: bold">1. Добавить студентов в студенческую группу.</span>
  <span
    style="font-weight: bold">2. Закрепить учебные план и назначить активный (текущий) семестр студенческой группе.</span>
  <span style="font-weight: bold">3. Убедиться, что, в назначенном активном семестре назначенного учебного плана присутствуют дисциплины.</span>
  <span style="font-weight: bold">4. Убедиться, что, в назначенном активном семестре назначенного учебного плана дисциплины имеют преподавателей.</span>
  <div class="text-row">
    <span>В зависимости от типа направления подготовки, выбранного при создании учебного плана, формируются семестры для учебного плана.</span>
  </div>
  <div class="text-row">
    <span>Работа с учебными планами направления подготовки осуществляется на странице:</span>
    <a style="font-weight: bold; text-decoration: underline; color: #1a88ff" [routerLink]="['/education-plans']">Учебные
      планы.</a>
  </div>
  <div class="text-row">
    <span>Работа со студенческими группами осуществляется на странице:</span>
    <a style="font-weight: bold; text-decoration: underline; color: #1a88ff" [routerLink]="['/groups']">Студенческие
      группы.</a>
  </div>
</div>
