.student-group-item-container {
  padding: 0.2rem;
  display: grid;
  grid-template-columns: 203px 275px;

  &:hover .student-group-name-container {
    transition: 0.5s ease-in-out;
    background-color: #47b300;
  }
}

.student-group-name-container {
  padding: 0.2rem;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  background-color: #5ce600;
  color: #fff;
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 1px;
}

.student-group-name-container-selected {
  padding: 0.2rem;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  background-color: #47b300;
  color: #fff;
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 1px;
}

.student-group-attributes-grid {
  padding: 0.2rem;
  display: grid;
  grid-template-columns: 128px auto;
  color: #000;
  border: 1px solid #cccccc;
  font-weight: bold;
  font-size: 0.9rem;
  grid-gap: 10px;
}

.attribute {
  border-bottom: solid 2px black;
}

.student-group-controls-container {
  padding: 2px 0;
  border-top: solid 2px black;
  display: inline-flex;
  gap: 5px;
}


