<div class="dropdown-content">
  <div class="dropdown-container">
    <app-floating-label-input [value]="selectDepartmentLabel"
                              [label]="'Кафедра'"
                              [id]="'DepartmentSelect'"
                              (click)="isSelectingDepartment = true"
                              [isReadonly]="true"
                              (inputChange)="selectDepartmentLabel = $event">
    </app-floating-label-input>
    <app-dropdown-list *ngIf="isSelectingDepartment"
                       [items]="departmentNames"
                       (visibilityChanged)="isSelectingDepartment = false"
                       (itemSelected)="handleSelectedDepartment($event)">
    </app-dropdown-list>
  </div>
  <div class="dropdown-container">
    <app-floating-label-input *ngIf="selectedDepartment" [value]="selectTeacherLabel"
                              [label]="'Преподаватель'"
                              [id]="'SelectTeacher'"
                              [isReadonly]="true"
                              (click)="isSelectingTeacher = true"
                              (inputChange)="selectDepartmentLabel = $event">
    </app-floating-label-input>
    <app-dropdown-list *ngIf="isSelectingTeacher"
                       [items]="teacherNames"
                       (visibilityChanged)="isSelectingTeacher = $event"
                       (itemSelected)="handleSelectedTeacher($event)">
    </app-dropdown-list>
  </div>
  <app-floating-label-input *ngIf="selectedDepartment && selectedTeacher" [value]="userEmail"
                            [label]="'Почта'"
                            [id]="'UserEmail'"
                            (inputChange)="userEmail = $event">
  </app-floating-label-input>
  <div class="dropdown-controls">
    <app-green-outline-button *ngIf="selectedDepartment && selectedTeacher"
                              [label]="'Добавить'"
                              (onClicked)="submit()">
    </app-green-outline-button>
    <app-red-outline-button [label]="'Закрыть'" (onClicked)="close()"></app-red-outline-button>
  </div>
</div>
