<div class="session-info-card-layout">
  <div class="session-info-card-title">
    Информация о текущей контрольной неделе
  </div>
  <div class="session-info-card-content">
    <strong>Дата начала: {{ info.dateStart }}</strong>
  </div>
  <div class="session-info-card-content">
    <strong>Дата окончания: {{ info.dateEnd }}</strong>
  </div>
  <div class="session-info-card-content">
    <strong>Дней до окончания: {{ info.daysToEnd }}</strong>
  </div>
  <div class="session-info-card-content">
    <strong>Процент завершенности: {{ info.completedPercent }}</strong>
  </div>
</div>
