<div id="container">
  <div id="header">
    <strong>Отфильтровать список</strong>
  </div>
  <div id="content">
    <form class="filter-form" [formGroup]="form">
      <input
        formControlName="name"
        class="default-input"
        placeholder="Наименование направления"
      />
      <input
        formControlName="code"
        class="default-input"
        placeholder="Код направления"
      />
      <select formControlName="type" class="default-select">
        <option disabled selected>
          Выберите тип направления (магистратура или бакалавриат)
        </option>
        <option>{{ "Бакалавриат" }}</option>
        <option>{{ "Магистратура" }}</option>
      </select>
    </form>
  </div>
  <div id="controls">
    <button class="accept-button-modal" type="button" (click)="submit()">
      Применить фильтр
    </button>
    ><button class="danger-button-modal" type="button" (click)="cancel()">
      Отменить фильтр
    </button>
  </div>
</div>
