<ng-template #template>
  <form [formGroup]="form">
    <div class="modal-header-wrapper">
      <h4 class="modal-title pull-left">{{ title }}</h4>
      <button
        type="button"
        class="btn-close close pull-right"
        aria-label="Закрыть"
        (click)="close()"
      >
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="content-section">
        <div class="content-section-row">
          <input
            formControlName="name"
            type="text"
            class="default-input w-500"
            placeholder="Название направления"
          />
        </div>
        <div class="content-section-row">
          <button
            type="button"
            class="btn btn-info font-black"
            (click)="submit()"
          >
            Применить
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-template>
