<div class="education-direction-filter-form-wrapper">
  <div class="education-direction-filter-form-header-wrapper">
    <strong>Форма для фильтра списка</strong>
  </div>
  <div class="education-direction-statistics-form-body">
    <input class="default-input w-500" placeholder="Название направления" />
    <input class="default-input w-500" placeholder="Код направления" />
    <input class="default-input w-500" placeholder="Тип направления" />
  </div>
  <div class="education-direction-statistics-buttons-wrapper">
    <button type="button" class="accept-button">Отменить фильтр</button>
    <button type="button" class="remove-button">Применить фильтр</button>
  </div>
</div>
