.education-direction-filter-form-wrapper {
  background-color: #e6eaf6;
  height: 215px;
  width: 510px;
  border-radius: 10px;
  box-shadow: #1b274b 0 10px 20px -10px;
  font-size: 24px;
}

.education-direction-filter-form-header-wrapper {
  border-radius: 10px 10px 0px 0px;
  padding: 5px;
  background-color: #7c91d0;
  box-shadow: #7c91d0 0 10px 20px -10px;
  color: #ffffff;
}

.education-direction-statistics-form-body {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.education-direction-statistics-buttons-wrapper {
  padding: 5px;
  border-top: 1px solid #1b274b;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
