.education-directions-page-layout {
  padding: 10px;
  display: grid;
  grid-template-columns: 780px 900px;
  grid-gap: 10px;
}

.extra-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
