<div id="container">
  <div id="header">
    <strong>Редактирование студенческой группы</strong>
  </div>
  <div id="content">
    <section class="edit-form">
      <input
        class="default-input"
        placeholder="Наименование группы"
        [(ngModel)]="editableGroup.name"
      />
    </section>
  </div>
  <div id="controls">
    <button class="accept-button-modal" type="button" (click)="submit()">
      Изменить
    </button>
    <button class="danger-button-modal" type="button" (click)="close()">
      Закрыть окно
    </button>
  </div>
</div>
