<div class="dbmanager-studentgroups-table-wrapper">
  <div class="dbmanager-studentgroups-table-header">
    <strong>Текущие группы</strong>
  </div>
  <div class="dbmanager-studentgroups-table-header">
    <strong>Количество групп: {{ facadeService.count }}</strong>
  </div>
  <table class="groups-table">
    <thead>
      <tr>
        <th>Название</th>
        <th>Число студентов</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (group of facadeService.groups; track group.groupName) {
      <tr>
        <td>{{ group.groupName }}</td>
        <td>{{ group.studentsCount }}</td>
        <td class="button-list">
          <button
            class="btn btn-info"
            [routerLink]="['/studentgroup-menu', group.groupName]"
            routerLinkActive="router-link-active"
          >
            Открыть меню
          </button>
          <button class="btn btn-info" (click)="facadeService.select = group">
            Выбрать
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  <app-dbmanager-studentgroups-pagination></app-dbmanager-studentgroups-pagination>
</div>
