<section class="student-list-container">
  <strong class="student-list-title">{{ group.name }}</strong>
  <div class="student-list-control-wrapper">
    <app-add-icon-button [paramWidth]="30" [paramHeight]="30"
                         (onClicked)="isCreatingStudent = true">
    </app-add-icon-button>
    <app-green-outline-button [label]="'Добавить нового студента'"
                              (onClicked)="isCreatingStudent = true">
    </app-green-outline-button>
  </div>
  <div class="student-list-items-container">
    <label class="no-students-label" *ngIf="group.students.length == 0">У группы нет студентов</label>
    <app-student-list-item *ngFor="let student of group.students"
                           [student]="student"
                           (selectForEdit)="editStudentRequest = $event"
                           (selectForDelete)="removeStudentRequest = $event">
    </app-student-list-item>
  </div>
</section>
<app-create-student-dialog *ngIf="isCreatingStudent"
                           [group]="group"
                           (visibilityChanged)="isCreatingStudent = false">
</app-create-student-dialog>
<app-edit-student-dialog *ngIf="editStudentRequest"
                         [student]="editStudentRequest"
                         [group]="group"
                         (visibilityChanged)="editStudentRequest = null">
</app-edit-student-dialog>
<app-remove-student-dialog *ngIf="removeStudentRequest"
                           [student]="removeStudentRequest"
                           [group]="group"
                           (visibilityChanged)="removeStudentRequest = null">
</app-remove-student-dialog>
