<section class="education-objects-page-layout">
  <strong class="education-objects-page-title">Управление учебными объектами</strong>
  <app-education-directions-inline-list
    (selectedEducationDirection)="currentEducationDirection = $event"></app-education-directions-inline-list>
  <strong class="education-objects-page-title" *ngIf="currentEducationDirection">Выбранное
    направление: {{ currentEducationDirection.name }} {{ currentEducationDirection.type }}</strong>
  <div class="education-objects-page-workspace">
    <app-education-plan-data-list *ngIf="currentEducationDirection"
                                  [direction]="currentEducationDirection"
                                  (selectedEducationPlan)="currentEducationPlan = $event; currentEducationPlan.direction = currentEducationDirection">
    </app-education-plan-data-list>
    <app-education-plan-semester-list *ngIf="currentEducationPlan" [educationPlan]="currentEducationPlan"
                                      (semesterSelected)="currentSemester = $event">
    </app-education-plan-semester-list>
    <app-disciplines-list *ngIf="currentSemester" [semester]="currentSemester"></app-disciplines-list>
  </div>
</section>
<app-success-notification *ngIf="notifications.isSuccess() && notifications.isVisible()"
                          [message]="notifications.message()"
                          (visibilityChange)="notifications.turn()">
</app-success-notification>
<app-failure-notification *ngIf="notifications.isFailure() && notifications.isVisible()"
                          [message]="notifications.message()"
                          (visibilityChange)="notifications.turn()">
</app-failure-notification>
