<div id="container">
  <div id="header">
    <strong>Редактирование направления подготовки</strong>
  </div>
  <div id="content">
    <form class="edit-form" [formGroup]="form">
      <input
        [ngModel]="direction.name"
        formControlName="name"
        class="default-input"
        placeholder="Наименование направления"
      />
      <input
        [ngModel]="direction.code"
        formControlName="code"
        class="default-input"
        placeholder="Код направления"
      />
      <select
        formControlName="type"
        [ngModel]="direction.type"
        class="default-select"
      >
        <option disabled selected>Тип направления</option>
        <option [defaultSelected]="true" [value]="'Тип направления'">
          Тип направления
        </option>
        <option value="Бакалавриат">Бакалавриат</option>
        <option value="Бакалавриат">Магистратура</option>
      </select>
    </form>
  </div>
  <div id="controls">
    <button class="warning-button-outline" type="button" (click)="submit()">
      Редактировать
    </button>
    ><button
      class="danger-button-modal"
      type="button"
      (click)="modalDisabled.emit(false)"
    >
      Закрыть окно
    </button>
  </div>
</div>
