<div class="dbmanager-plans-table-wrapper">
  <table class="plans-table">
    <thead>
      <tr>
        <th>Дисциплины. {{ facadeService.count }}</th>
      </tr>
    </thead>
    <tbody>
      @for (semesterPlan of semesterPlans; track semesterPlan.disciplineName) {
      <tr>
        <app-semester-plan-card
          [semesterPlan]="semesterPlan"
        ></app-semester-plan-card>
      </tr>
      }
    </tbody>
  </table>
  <app-semester-plan-pagination></app-semester-plan-pagination>
</div>
