.table-container {
  min-width: 750px;
  height: 330px;
  overflow-y: auto;
  overflow-x: hidden;
}

.education-plans-create-modal-directions-table {
  color: #a1e3ff;
  border-collapse: collapse;
  background-color: #0b1622;
  min-width: 750px;
  font-size: 14px;
  position: sticky;
  top: 0;

  & thead tr {
    background-color: #2d4048;
    color: #a1e3ff;
    text-align: left;
  }

  & td,
  & th {
    padding: 5px 5px;
  }

  & tbody tr {
    border-bottom: 1px solid #3e5a66;
  }

  & tbody tr:nth-of-type(even) {
    background-color: #2d4048;
  }

  & tbody tr:last-of-type {
    border-bottom: 2px solid #3e5a66;
  }
}
