<div class="dropdown-content">
  <app-floating-label-input [value]="number" [label]="'Год'"
                            [id]="'PlanYearInput'"
                            (inputChange)="number = $event"></app-floating-label-input>
  <div class="dropdown-container">
    <app-floating-label-input [value]="directionData" [label]="'Тип'" [isReadonly]="true"
                              (click)="isSelectionDirections = true"
                              [id]="'DirectionInput'" (inputChange)="directionData = $event">
    </app-floating-label-input>
    <app-education-directions-select *ngIf="isSelectionDirections" [isSelecting]="isSelectionDirections"
                                     (visibilityChanged)="isSelectionDirections = false"
                                     (itemSelected)="directionData = $event; onDirectionDataSelected($event)">
    </app-education-directions-select>
  </div>
  <div class="dropdown-controls">
    <app-green-outline-button [label]="'Добавить'" (onClicked)="submit()"></app-green-outline-button>
    <app-red-outline-button [label]="'Закрыть окно'"
                            (onClicked)="visibilityChanged.emit(false)"></app-red-outline-button>
  </div>
</div>
