<section class="greeting-page-layout">
  <app-greeting-page-header></app-greeting-page-header>
  <app-greeting-page-panel></app-greeting-page-panel>
  <div class="greeting-page-blocks-layout">
    <app-greeting-page-block [blockImage]="'assets/block_1.png'"
                             [blockTitle]="'Проставление оценок'"
                             [blockDescription]="'Возможность удаленного проставления оценок в течение контрольных недель'">
    </app-greeting-page-block>
    <app-greeting-page-block [blockImage]="'assets/block_2.png'"
                             [blockTitle]="'Мониторинг успеваемости'"
                             [blockDescription]="'Хранение итогов успеваемости студентов за контрольные недели'">
    </app-greeting-page-block>
    <app-greeting-page-block [blockImage]="'assets/block_3.png'"
                             [blockTitle]="'Генерирование отчётов'"
                             [blockDescription]="'Автоматическое генерирование отчётов и подсчёт итогов за результаты контрольных недель в формат .pdf'">
    </app-greeting-page-block>
    <app-greeting-page-block [blockImage]="'assets/block_4.png'"
                             [blockTitle]="'Управление учебными данными'"
                             [blockDescription]="'Информация о дисциплинах, кафедрах, студенческих группах'">
    </app-greeting-page-block>
  </div>
</section>
