<div class="education-direction-items-list-wrapper">
  <div class="education-direction-items-list-header">
    <strong>Список направлений</strong>
  </div>
  <div class="education-direction-items-list">
    @for (direction of facadeService.directions; track direction.code) {
    <app-education-directions-card
      [direction]="direction"
    ></app-education-directions-card>
    }
  </div>
  <table class="education-direction-table">
    <thead>
      <tr></tr>
    </thead>
    <tbody></tbody>
  </table>
  <div class="pagination-wrapper">
    <app-education-directions-pagination></app-education-directions-pagination>
  </div>
</div>
<div id="create-modal-renderer" *ngIf="creationModalState.Visibility">
  <app-education-directions-create-modal
    (modalDisabled)="creationModalState.turn($event)"
  ></app-education-directions-create-modal>
</div>
<div id="filter-modal-renderer" *ngIf="filterModalState.Visibility">
  <app-education-directions-filter-modal
    (modalDisabled)="filterModalState.turn($event)"
  ></app-education-directions-filter-modal>
</div>
