.education-direction-items-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #e6eaf6;
  border-radius: 10px;
  box-shadow: #1b274b 0 10px 20px -10px;
  height: 97.5vh;
}

.education-direction-items-list-header {
  padding: 5px;
  color: #ffffff;
  border-radius: 10px 10px 0px 0px;
  background-color: #7c91d0;
  box-shadow: #7c91d0 0 10px 20px -10px;
  height: 45px;
  font-size: 24px;
}

.education-direction-items-list {
  padding: 10px;
  display: grid;
  grid-template-columns: 400px 400px;
  grid-gap: 10px;
}

.pagination-wrapper {
  margin-top: auto;
}
