<div class="education-direction-table-wrapper">
  <div class="education-direction-controls-container">
    <div class="dropdown-container">
      <app-blue-button [label]="'Добавить направление'" (onClicked)="creationModalVisibility = true"></app-blue-button>
      <app-education-direction-create-dropdown
        *ngIf="creationModalVisibility"
        [visibility]="creationModalVisibility"
        (refreshEmitter)="facadeService.refreshPagination(); ngOnInit()"
        (visibilityChange)="creationModalVisibility = $event"></app-education-direction-create-dropdown>
    </div>
    <div class="dropdown-container">
      <app-blue-button [label]="'Фильтр направлений'" (onClicked)="filterModalVisibility = true"></app-blue-button>
      <app-education-direction-filter-dropdown *ngIf="filterModalVisibility" [visibility]="filterModalVisibility"
                                               (refreshEmitter)="ngOnInit()"
                                               (visibilityChange)="filterModalVisibility = $event">
      </app-education-direction-filter-dropdown>
    </div>
    <app-blue-outline-button [routerLink]="['/education-directions-info']"
                             [label]="'Документация'"></app-blue-outline-button>
  </div>
  <div class="items-container">
    <app-education-direction-item *ngFor="let item of directions" [direction]="item"
                                  (directionRemoveRequested)="directionToRemove = $event"></app-education-direction-item>
  </div>
  <app-education-directions-pagination (pageChange)="ngOnInit();"></app-education-directions-pagination>
</div>
<app-education-direction-delete-modal [direction]="directionToRemove"
                                      *ngIf="directionToRemove"
                                      (visibility)="directionToRemove = null"
                                      (refreshEmitter)="ngOnInit(); directionToRemove = null"></app-education-direction-delete-modal>
<app-failure-result-notification
  *ngIf="notificationService.isFailure"
  [message]="notificationService.Message"
  (visibilityEmitter)="notificationService.reset()"
></app-failure-result-notification>
<app-success-result-notification
  *ngIf="notificationService.isSuccess"
  [message]="notificationService.Message"
  (visibilityEmitter)="notificationService.reset()"
></app-success-result-notification>
