<div class="education-direction-table-wrapper">
  <div class="education-direction-controls-container">
    <button class="accept-button" (click)="startCreation()">
      Добавить направление
    </button>
    <button class="accept-button" (click)="startFilter()">
      Отфильтровать список
    </button>
  </div>
  <div class="education-direction-table-container">
    <div class="education-direction-table-grid">
      <div class="education-direction-table-header">
        <strong>Номер</strong>
        <strong>Название направления</strong>
        <strong>Код направления</strong>
        <strong>Тип направления</strong>
        <strong>Действия</strong>
      </div>

      @for (direction of directions; track direction.code) {
      <app-education-directions-table-row
        [Direction]="direction"
        (failureEmitter)="isFailure = true"
        (successEmitter)="isSuccess = true"
        (refreshEmitter)="ngOnInit()"
      ></app-education-directions-table-row>
      }
    </div>
  </div>
  <div class="pagination-wrapper">
    <app-education-directions-pagination></app-education-directions-pagination>
  </div>
</div>
<div id="creation-modal-renderer" *ngIf="creationModalVisibility">
  <app-education-directions-create-modal
    (visibility)="stopCreation($event)"
    (successEmitter)="isSuccess = true"
    (failureEmitter)="isFailure = true"
    (refreshEmitter)="ngOnInit()"
  ></app-education-directions-create-modal>
</div>
<div id="filter-modal-renderer" *ngIf="filterModalVisibility">
  <app-education-directions-filter-modal
    (visibility)="stopFilter($event)"
  ></app-education-directions-filter-modal>
</div>
<div id="failure-modal-renderer" *ngIf="isFailure">
  <app-failure-result-notification
    [message]="notificationService.Message"
    (visibilityEmitter)="isFailure = $event"
  ></app-failure-result-notification>
</div>
<div id="success-modal-renderer" *ngIf="isSuccess">
  <app-success-result-notification
    [message]="notificationService.Message"
    (visibilityEmitter)="isSuccess = $event"
  ></app-success-result-notification>
</div>
