<div id="container">
  <div id="header">
    <strong>Фильтр группы по имени</strong>
  </div>
  <div id="content">
    <form class="creation-form" [formGroup]="form">
      <input
        formControlName="name"
        class="default-input"
        placeholder="Наименование группы"
      />
    </form>
  </div>
  <div id="controls">
    <button class="accept-button-modal" type="button" (click)="submit()">
      Применить фильтр
    </button>
    <button class="danger-button-modal" type="button" (click)="cancelFilter()">
      Отменить фильтр
    </button>
    <button class="danger-button-modal" type="button" (click)="visibility.emit()">
      Закрыть окно
    </button>
  </div>
</div>
