<div class="tab-form" style="max-width: 85%">
  <ul class="tab-form-ul" style="overflow: auto; width: 1000px; font-size: 14px">
    <li [ngClass]="{'tab-form-li-active': activeTab === tab.id}" class="tab-form-li" *ngFor="let tab of tabs"
        (click)="activeTab = tab.id">{{ tab.label }}
    </li>
  </ul>
  <div class="tab-form-content">
    @switch (activeTab) {
      @case (tabs[0].id) {
        <app-instructions-directions></app-instructions-directions>
      }
      @case (tabs[1].id) {
        <app-instructions-eduplans></app-instructions-eduplans>
      }
      @case (tabs[2].id) {
        <app-instructions-departments></app-instructions-departments>
      }
      @case (tabs[3].id) {
        <app-instructions-students></app-instructions-students>
      }
      @case (tabs[4].id) {
        <app-instructions-admins></app-instructions-admins>
      }
      @case (tabs[5].id) {
        <app-instructions-control-weeks></app-instructions-control-weeks>
      }
    }
  </div>
</div>
