<section class="teacher-card-layout">
  <div class="teacher-card-icon-container">
    <img class="teacher-card-icon" [ngSrc]="'assets/teacher_card_icon.svg'" [width]="60" [height]="60" [alt]="'image'">
  </div>
  <div class="teacher-card-content-container">
    <label class="teacher-card-data-label">Информация:</label>
    <label class="teacher-card-data-label">Фамилия: {{ teacher.surname }}</label>
    <label class="teacher-card-data-label">Имя: {{ teacher.name }}</label>
    <label *ngIf="teacher.patronymic != null" class="teacher-card-data-label">Отчество: {{ teacher.patronymic }}</label>
    <label class="teacher-card-data-label">Должность: {{ teacher.jobTitle }}</label>
    <label class="teacher-card-data-label">Способ работы: {{ teacher.state }}</label>
  </div>
  <div class="teacher-card-controls-container">
    <div class="teacher-card-control-label" @fadeIn *ngIf="teacher.userId == null">
      <app-add-icon-button [paramWidth]="40"
                           [paramHeight]="40"
                           (onClicked)="selectForRegister.emit(teacher)">
      </app-add-icon-button>
      <app-green-outline-button [label]="'Зарегистрировать'"
                                (onClicked)="selectForRegister.emit(teacher)">
      </app-green-outline-button>
    </div>
    <div class="teacher-card-control-label" @fadeIn *ngIf="teacher.userId != null">
      <label class="teacher-card-registered-hint">Зарегистрирован</label>
    </div>
    <div class="teacher-card-control-label">
      <app-edit-icon-button [paramWidth]="40" [paramHeight]="40"
                            (onClicked)="selectedForEdit.emit(teacher)">
      </app-edit-icon-button>
      <app-yellow-outline-button [label]="'Редактировать'"
                                 (onClicked)="selectedForEdit.emit(teacher)">
      </app-yellow-outline-button>
    </div>
    <div class="teacher-card-control-label">
      <app-remove-icon-button [paramHeight]="40"
                              [paramWidth]="40"
                              (onClicked)="selectedForRemove.emit(teacher)">
      </app-remove-icon-button>
      <app-red-outline-button [label]="'Удалить'"
                              (onClicked)="selectedForRemove.emit(teacher)">
      </app-red-outline-button>
    </div>
  </div>
</section>
