<section class="teacher-card-layout">
  <div class="teacher-card-icon-container">
    <img class="teacher-card-icon" [ngSrc]="'assets/teacher_card_icon.svg'" [width]="60" [height]="60" [alt]="'image'">
  </div>
  <div class="teacher-card-content-container">
    <label class="teacher-card-data-label">Информация:</label>
    <label class="teacher-card-data-label">Фамилия: {{ teacher.surname }}</label>
    <label class="teacher-card-data-label">Имя: {{ teacher.name }}</label>
    <label *ngIf="teacher.patronymic != null" class="teacher-card-data-label">Отчество: {{ teacher.patronymic }}</label>
    <label class="teacher-card-data-label">Должность: {{ teacher.jobTitle }}</label>
    <label class="teacher-card-data-label">Способ работы: {{ teacher.state }}</label>
  </div>
  <div class="teacher-card-controls-container">
    <div class="teacher-card-control-label">
      <app-add-icon-button [paramWidth]="40" [paramHeight]="40"></app-add-icon-button>
      <app-green-outline-button [label]="'Зарегистрировать'"></app-green-outline-button>
    </div>
    <div class="teacher-card-control-label">
      <app-edit-icon-button [paramWidth]="40" [paramHeight]="40"></app-edit-icon-button>
      <app-yellow-outline-button [label]="'Редактировать'"></app-yellow-outline-button>
    </div>
    <div class="teacher-card-control-label">
      <app-remove-icon-button [paramHeight]="40" [paramWidth]="40"></app-remove-icon-button>
      <app-red-outline-button [label]="'Удалить'"></app-red-outline-button>
    </div>
  </div>
</section>
