<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <aspNetCore>
            <environmentVariables>
                <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
            </environmentVariables>
        </aspNetCore>
		<rewrite>
  			<rules>
    			<rule name="Angular" stopProcessing="true">
      				<match url=".*" />
      				<conditions logicalGrouping="MatchAll">
        				<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        				<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{URL}" pattern="^/api/" negate="true"  />
      				</conditions>
      				<action type="Rewrite" url="/app/" />
    			</rule>
  			</rules>
		</rewrite>
    </system.webServer>
</configuration>
