<div id="container">
  <div id="header">
    <strong>Выбор оценки</strong>
  </div>
  <div id="content">
    <div class="dropdown-container">
      <app-floating-label-input [value]="selectMarkLabel"
                                [label]="'Оценка'"
                                [isReadonly]="true"
                                [id]="'selectMarkInput'"
                                (click)="isSelectingMark = true">
      </app-floating-label-input>
      <app-dropdown-list *ngIf="isSelectingMark"
                         [items]="stringMarks"
                         (itemSelected)="handleMarkSelection($event)"
                         (visibilityChanged)="isSelectingMark = false">
      </app-dropdown-list>
    </div>
  </div>
  <div id="controls">
    <app-red-outline-button [label]="'Закрыть диалог'" (onClicked)="visibility.emit()"></app-red-outline-button>
  </div>
</div>
