<div id="container">
  <div id="header">
    <strong>Добавление направления подготовки</strong>
  </div>
  <div id="content">
    <form class="creation-form" [formGroup]="form">
      <input
        formControlName="name"
        class="default-input"
        placeholder="Наименование направления"
      />
      <input
        formControlName="code"
        class="default-input"
        placeholder="Код направления"
      />
      <select formControlName="type" class="default-select">
        <option disabled selected>
          Выберите тип направления (магистратура или бакалавриат)
        </option>
        <option>{{ "Бакалавриат" }}</option>
        <option>{{ "Магистратура" }}</option>
      </select>
    </form>
  </div>
  <div id="controls">
    <button class="accept-button-modal" type="button" (click)="submit()">
      Добавить
    </button>
    ><button
      class="danger-button-modal"
      type="button"
      (click)="visibility.emit(false)"
    >
      Закрыть окно
    </button>
  </div>
</div>
