<ng-template #template>
  <form [formGroup]="form">
    <div class="modal-header-wrapper">
      <h4 class="modal-title pull-left">{{ title }}</h4>
      <button
        type="button"
        class="btn-close close pull-right"
        aria-label="Закрыть"
        (click)="close()"
      >
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="content-section">
        <div class="content-section-row">
          <input
            formControlName="code"
            type="text"
            class="default-input w-500"
            placeholder="Код направления"
          />
        </div>
        <div class="content-section-row">
          <input
            formControlName="name"
            type="text"
            class="default-input w-500"
            placeholder="Название направления"
          />
        </div>
        <div class="content-section-row">
          <p>Выбрать тип направления:</p>
        </div>
        <div class="content-section-row">
          <select formControlName="type" class="default-select w-500">
            <option>Бакалавриат</option>
            <option>Магистратура</option>
          </select>
        </div>
        <div class="content-section-row">
          <button
            type="button"
            class="btn btn-success font-black"
            (click)="submit()"
          >
            Добавить
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-template>
<ng-template #success>
  <div id="success-modal-renderer" *ngIf="successModalState.Visibility">
    <app-success-notification-form
      (modalDisabled)="successModalState.turn($event)"
    >
    </app-success-notification-form>
  </div>
</ng-template>
<ng-template #failure>
  <div id="failure-modal-renderer" *ngIf="failureModalState.Visibility">
    <app-failure-notification-form
      (modalDisabled)="failureModalState.turn($event)"
    >
    </app-failure-notification-form>
  </div>
</ng-template>
