<ng-template #template>
  <div class="modal-header-wrapper">
    <h4 class="modal-title pull-left">Информация</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Закрыть"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="content-section">
      <div class="content-section-row">
        <input
          [value]="cardPlanInfo.planName"
          readonly
          type="text"
          class="default-input w-500"
          placeholder="Дисциплина"
          aria-label="Название группы"
          aria-describedby="basic-addon2"
        />
      </div>
      <div class="content-section-row">
        <strong>Информация о преподавателе:</strong>
      </div>
      <div class="content-section-row">
        <input
          [value]="cardPlanInfo.attachedTeacherName"
          readonly
          type="text"
          class="default-input w-500"
          placeholder="Имя"
          aria-label="Имя"
          aria-describedby="basic-addon2"
        />
      </div>
      <div class="content-section-row">
        <input
          [value]="cardPlanInfo.attachedTeacherSurname"
          readonly
          type="text"
          class="default-input w-500"
          placeholder="Фамилия"
          aria-label="Фамилия"
          aria-describedby="basic-addon2"
        />
      </div>
      <div class="content-section-row">
        <input
          [value]="cardPlanInfo.attachedTeacherThirdname"
          readonly
          type="text"
          class="default-input w-500"
          placeholder="Отчество"
          aria-label="Отчество"
          aria-describedby="basic-addon2"
        />
      </div>
      <div class="content-section-row">
        <input
          [value]="cardPlanInfo.attachedTeacherDepartmentName"
          readonly
          type="text"
          class="default-input w-500"
          placeholder="Кафедра"
          aria-label="Кафедра"
          aria-describedby="basic-addon2"
        />
      </div>
      <div class="content-section-row">
        <strong>Назначить преподаватея</strong>
      </div>
      <div class="content-section-row">
        <strong>1. Выберите кафедру:</strong>
      </div>
      <div class="content-section-row">
        <select
          (change)="selectDepartmentOption($any($event.target).value)"
          class="default-select w-500"
        >
          <option></option>
          @for (department of fetchedDepartments; track department.name) {
          <option>{{ department.name }}</option>
          }
        </select>
      </div>
      <div class="content-section-row">
        <strong>2. Выберите преподавателя:</strong>
      </div>
      <div class="content-section-row">
        <select
          (change)="selectTeacherOption($any($event.target).value)"
          class="default-select w-500"
        >
          <option></option>
          @for (teacher of searchedResults; track $index) {
          <option>
            {{ teacher.surname }} {{ teacher.name }} {{ teacher.thirdname }}
          </option>
          }
        </select>
      </div>
      <div class="content-section-row">
        <button type="button" class="btn btn-success" (click)="assignTeacher()">
          Назначить
        </button>
      </div>
    </div>
  </div>
</ng-template>
