<div class="assignment-layout">
  <strong
    [ngClass]="{'empty': student.assignment.value == 1, 'not-attestated': student.assignment.value == 0, 'bad': student.assignment.value == 2, 'normal': student.assignment.value == 3, 'good': student.assignment.value == 4, 'very-good': student.assignment.value == 5}"
  >{{ student.surname }} {{ student.name[0] }}
    {{ student.patronymic == null ? "" : student.patronymic[0] }}</strong
  >
  <strong
    [ngClass]="{'empty': student.assignment.value == 1, 'not-attestated': student.assignment.value == 0, 'bad': student.assignment.value == 2, 'normal': student.assignment.value == 3, 'good': student.assignment.value == 4, 'very-good': student.assignment.value == 5}"
    (click)="_isMarksModalVisible = true">{{
      student.assignment.value == 1
        ? "Не проставлена"
        : student.assignment.value == 0
          ? "Неаттестация"
          : student.assignment.value
    }}</strong>
</div>
<div id="mark-modal-visibility" *ngIf="_isMarksModalVisible">
  <app-marks-modal
    [student]="student"
    [discipline]="discipline"
    (visibility)="_isMarksModalVisible = false"
    (markSelected)="teacherMarkSelectionUpdate($event)"
  ></app-marks-modal>
</div>
