<div class="navigation-links">
  <a [routerLink]="'/administration'">Администрирование</a>
  <a>Кафедры</a>
</div>
<section class="content-container">
  <app-department-table [departments]="departments"
                        (departmentSelected)="selectedDepartment = $event"
                        (departmentAdded)="paginationService.refreshPagination(); ngOnInit()"
                        (departmentRemoved)="paginationService.refreshPagination(); ngOnInit()"
                        (filtered)="ngOnInit()"
                        (pageChanged)="ngOnInit()">
  </app-department-table>
  <app-teachers-menu *ngIf="selectedDepartment" [department]="selectedDepartment">
  </app-teachers-menu>
</section>
<app-success-result-notification *ngIf="notificationService.isSuccess"
                                 [message]="notificationService.Message"
                                 (visibilityEmitter)="notificationService.reset()">
</app-success-result-notification>
<app-failure-result-notification *ngIf="notificationService.isFailure"
                                 [message]="notificationService.Message"
                                 (visibilityEmitter)="notificationService.reset()">
</app-failure-result-notification>
