<div class="education-directions-card-layout">
  <div class="header-part">
    <strong>Номер: {{ direction.entityNumber }}</strong>
  </div>
  <div class="information-part">
    <strong>Код: {{ direction.code }}</strong>
    <strong>Название: {{ direction.name }}</strong>
    <strong>Тип: {{ direction.type }}</strong>
  </div>
  <div class="controls-part">
    <button
      type="button"
      class="edit-button"
      (click)="startUpdateTransaction()"
    >
      Редактировать
    </button>
    <button
      type="button"
      class="remove-button"
      (click)="startDeletionTransaction()"
    >
      Удалить
    </button>
  </div>
</div>
<div
  id="deletion-transaction-confirmation-renderer"
  *ngIf="deletionConfirmationModalState.Visibility"
>
  <app-education-direction-deletion-confirmation
    (actionResult)="processDeletionTransaction($event)"
  ></app-education-direction-deletion-confirmation>
</div>
<div id="deletion-success-modal-renderer" *ngIf="successModalState.Visibility">
  <app-success-notification-form
    (modalDisabled)="successModalState.turn($event)"
  ></app-success-notification-form>
</div>
<div id="deletion-failure-modal-renderer" *ngIf="failureModalState.Visibility">
  <app-failure-notification-form
    (modalDisabled)="failureModalState.turn($event)"
  ></app-failure-notification-form>
</div>
<div id="update-transaction-renderer" *ngIf="editModalState.Visibility">
  <app-education-directions-edit-modal
    (modalDisabled)="editModalState.turn($event)"
  ></app-education-directions-edit-modal>
</div>
