<section class="education-plan-data-list-layout">
  <div class="education-plan-data-list-title">
    <label>Учебные планы направления</label>
  </div>
  <div class="education-plan-data-list-container">
    <div class="education-plan-data-list-controls">
      <app-add-icon-button [paramWidth]="40"
                           [paramHeight]="40"
                           (onClicked)="isCreatingNewPlan = true">
      </app-add-icon-button>
      <app-green-outline-button [label]="'Создать новый учебный план'"
                                (onClicked)="isCreatingNewPlan = true">
      </app-green-outline-button>
    </div>
    <app-education-plan-data-item @fadeIn *ngFor="let plan of direction.plans"
                                  [isCurrentPlan]="currentEducationPlan != null && currentEducationPlan.id == plan.id"
                                  [educationPlan]="plan"
                                  (selectPlanForRemove)="removeEducationPlanRequest = $event"
                                  (selectPlanForEdit)="editEducationPlanRequest = $event"
                                  (selectedPlan)="currentEducationPlan = $event; selectedEducationPlan.emit(currentEducationPlan)">
    </app-education-plan-data-item>
  </div>
</section>
<app-create-education-plan-dialog @fadeIn *ngIf="isCreatingNewPlan"
                                  [direction]="direction"
                                  (visibilityChange)="isCreatingNewPlan = false"
                                  (educationPlanCreated)="handleEducationPlanCreation($event)">
</app-create-education-plan-dialog>
<app-remove-education-plan-dialog @fadeIn *ngIf="removeEducationPlanRequest"
                                  [plan]="removeEducationPlanRequest"
                                  [direction]="direction"
                                  (visibilityChange)="removeEducationPlanRequest = null"
                                  (educationPlanRemoved)="handleEducationPlanRemoved($event)">
</app-remove-education-plan-dialog>
<app-edit-education-plan-dialog @fadeIn *ngIf="editEducationPlanRequest"
                                [plan]="editEducationPlanRequest"
                                [direction]="direction"
                                (visibilityChange)="editEducationPlanRequest = null">
</app-edit-education-plan-dialog>
