.button-container {
  padding: 0.2rem;
  font-size: 0.9rem !important;
  display: inline-block;
  border-radius: 0.5rem;
  outline: none;
  background-color: transparent;
  text-align: center;
  border: solid 1px #ffcc00;
  color: #ffcc00;
  transition: all 1s ease;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
}

.button-container:hover {
  color: #cca300;
}

.button-container:hover .button-label {
  text-decoration: underline;
}

.button-container:active .button-label {
  transform: scale(0.96);
}

.button-label {
  padding: 0.20rem;
  font-weight: bold;
  cursor: pointer;
}
