<div class="dropdown-container">
  <div></div>
  <app-create-student-dropdown *ngIf="createVisibility" [visibility]="createVisibility"
                               (studentAdded)="handleStudentCreation($event)"
                               (visibilityChange)="createVisibility = $event"></app-create-student-dropdown>
  <app-edit-student-dropdown *ngIf="isEditing && studentToEdit" [visibility]="isEditing"
                             (visibilityChange)="isEditing = $event"
                             [student]="studentToEdit"></app-edit-student-dropdown>
</div>
<div class="students-list-container">
  <app-blue-button [label]="'Добавить студента'" (onClicked)="createVisibility = true"></app-blue-button>
  <app-student-item *ngFor="let student of group.students" [student]="student"
                    (editingStudent)="studentToEdit = $event; isEditing = true"></app-student-item>
</div>
