.students-list-container {
  border-radius: 10px;
  display: inline-flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.2em;
  max-height: 725px;
  overflow: auto;
}

.control-panel {
  display: inline-flex;
  gap: 0.5rem;
}
