<div id="container">
  <div id="header">
    <strong>Открепление преподавателя</strong>
  </div>
  <div id="content">
    <strong
      *ngIf="discipline.teacher != null">Открепить {{ discipline.teacher.surname }} {{ discipline.teacher.name[0] }} {{ discipline.teacher.patronymic == null ? '' : discipline.teacher.patronymic[0] }}</strong>
    <strong>От дисциплины {{ discipline.disciplineName }}</strong>
  </div>
  <div id="controls">
    <app-green-outline-button [label]="'Открепить'"
                              (onClicked)="commit()"></app-green-outline-button>
    <app-red-outline-button [label]="'Закрыть диалог'" (click)="visibilityChanged.emit()"></app-red-outline-button>
  </div>
</div>
