<section class="administration-page-layout">
  <app-administration-menu
    [title]="'Направления подготовки'"
    [routerLink]="['/education-directions']"
  >
  </app-administration-menu>
  <app-administration-menu
    [title]="'Студенческие группы'"
    [routerLink]="['/groups']"
  ></app-administration-menu>
  <app-administration-menu
    [title]="'Кафедры'"
    [routerLink]="['/departments']"
  ></app-administration-menu>
  <app-administration-menu
    [title]="'Семестры'"
    [routerLink]="['/semesters']"
  ></app-administration-menu>
</section>
