<section class="group-elements-wrapper">
  <div class="group-structures">
    <app-administration-menu
      [descriptions]="['• Создание направлений', '• Удаление направлений', '• Редактирование направлений']"
      [title]="'Направления подготовки'"
      [routerLinkPath]="['/education-directions']"
    >
    </app-administration-menu>
    <app-administration-menu
      [descriptions]="['• Создание учебных планов', '• Удаление учебных планов', '• Управление дисциплинами семестров']"
      [title]="'Учебные планы'"
      [routerLinkPath]="['/education-plans']"
    >
    </app-administration-menu>
    <app-administration-menu
      [descriptions]="['• Создание активной контрольной недели', '• Закрытие активной контрольной недели']"
      [title]="'Контрольные недели'"
      [routerLinkPath]="['/assignment-sessions']">
    </app-administration-menu>
    <app-administration-menu
      [descriptions]="['• Инструкции по администрированию']"
      [title]="'Руководства (FAQ)'"
      [routerLinkPath]="['/administration-instructions']">
    </app-administration-menu>
  </div>
</section>
<section class="group-elements-wrapper">
  <div class="group-structures">
    <app-administration-menu
      [descriptions]="['• Создание студенческих групп', '• Удаление студенческих групп', '• Закрепление учебного плана', '• Управление студентами']"
      [title]="'Студенческие группы'"
      [routerLinkPath]="['/groups']"
    ></app-administration-menu>
    <app-administration-menu
      [descriptions]="['• Создание кафедр', '• Удаление кафедр', '• Управление преподавателями']"
      [title]="'Кафедры'"
      [routerLinkPath]="['/departments']"
    ></app-administration-menu>
    <app-administration-menu
      [descriptions]="['• Регистрация администраторов', '• Регистрация преподавателей', '• Удаление пользователей']"
      [title]="'Пользователи'"
      [routerLinkPath]="['/users']"
    ></app-administration-menu>
  </div>
</section>
