<section class="education-plan-item-workspace-container">
  <div class="education-plan-item-header">
    {{ selectedEducationPlan.direction.name }} {{ selectedEducationPlan.direction.type }}
    {{ selectedEducationPlan.direction.code }} {{ selectedEducationPlan.year }}
  </div>
  <section class="education-plan-item-workspace">
    <div class="education-plan-semesters-list">
      @for (item of selectedEducationPlan.semesters; track item.id) {
        <app-education-plan-semester-button
          [selectedSemester]="selectedSemester" [semester]="item"
          (semesterSelectionChanged)="selectedSemester = $event">
        </app-education-plan-semester-button>
      }
    </div>
  </section>
</section>
<app-education-plan-disciplines *ngIf="selectedSemester != null"
                                [plan]="selectedEducationPlan"
                                [semester]="selectedSemester"
                                [disciplines]="selectedSemester.disciplines"
                                (disciplineAdded)="selectedSemester.disciplines.push($event)"
                                (disciplineTeacherAttached)="handleDisciplineTeacherAttachment($event)"
                                (disciplineTeacherDeattached)="handleDisciplineTeacherDeattached($event)"
                                (disciplineNameUpdated)="handleDisciplineNameUpdate($event)"
                                (disciplineDeleted)="handleDisciplineDeletion($event)">
</app-education-plan-disciplines>
