<div id="container">
  <div id="header">
    <div class="header-container">Изменение группы студента</div>
  </div>
  <div id="content">
    <div class="creation-form">
      <input
        class="default-input"
        [(ngModel)]="group.name"
        placeholder="Наименование группы"
      />
    </div>
    <div class="controls-container">
      <button class="accept-button-modal" (click)="searchGroups()">
        Найти по наименованию
      </button>
      <button class="danger-button-modal" (click)="fetchAllGroups()">
        Отменить фильтр
      </button>
    </div>
    <div class="search-container">
      <table class="search-table">
        <thead>
          <tr>
            <th>Наименование группы</th>
            <th>Действия</th>
          </tr>
        </thead>
        <tbody>
          @for (group of groups; track group.name) {
          <tr>
            <td>{{ group.name }}</td>
            <td>
              <div class="controls-container">
                <button class="accept-button" (click)="selectGroup(group)">
                  Выбрать
                </button>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  <div id="controls">
    <button class="accept-button-modal" type="button" (click)="close()">
      Подтвердить выбор
    </button>
    <button class="danger-button-modal" type="button" (click)="close()">
      Закрыть окно
    </button>
  </div>
</div>
