.education-plans-table-container {
  display: flex;
  align-content: flex-start;
  gap: 10px;
}

.education-plans-table-wrapper {
  background-color: #ffffff;
  border: solid 1px #d9d9d9;
  border-radius: 10px;
  display: inline-flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 0.2em;
}

.education-plans-controls-container {
  padding: 0.2rem;
  color: #ffffff;
  height: 45px;
  font-size: 24px;
  display: flex;
  gap: 10px;
}
