<div class="education-plans-table-wrapper">
  <div class="education-plans-controls-container">
    <button class="accept-button" (click)="creationModalVisibility = true">
      Добавить учебный план
    </button>
    <button class="accept-button" (click)="filterModalVisibility = true">
      Отфильтровать список
    </button>
  </div>
  <div class="education-plans-table-container">
    <div class="education-plans-table-grid">
      <div class="education-plans-table-header">
        <strong>Номер</strong>
        <strong>Год</strong>
        <strong>Наименование направления</strong>
        <strong>Код направления</strong>
        <strong>Тип направления</strong>
        <strong>Действия</strong>
      </div>

      @for (plan of plans; track plan.entityNumber) {
      <app-education-plans-table-row
        [plan]="plan"
        (failureEmitter)="isFailure = true"
        (successEmitter)="isSuccess = true"
        (refreshEmitter)="ngOnInit()"
      ></app-education-plans-table-row>
      }
    </div>
  </div>
  <div class="pagination-wrapper">
    <app-education-plans-pagination></app-education-plans-pagination>
  </div>
</div>
<div id="creation-modal-renderer" *ngIf="creationModalVisibility">
  <app-education-plan-creation-modal
    (visibility)="creationModalVisibility = $event"
    (failureEmitter)="isFailure = true"
    (successEmitter)="isSuccess = true"
    (refreshEmitter)="ngOnInit()"
  ></app-education-plan-creation-modal>
</div>
<div id="filter-modal-renderer" *ngIf="filterModalVisibility">
  <app-education-plan-filter-modal
    (visibility)="filterModalVisibility = $event"
    (failure)="isFailure = true"
    (filteredData)="plans = $event"
  ></app-education-plan-filter-modal>
</div>
<div id="success-modal-renderer" *ngIf="isSuccess">
  <app-success-result-notification
    [message]="notificationService.Message"
    (visibilityEmitter)="isSuccess = $event"
  ></app-success-result-notification>
</div>
<div id="failure-modal-renderer" *ngIf="isFailure">
  <app-failure-result-notification
    [message]="notificationService.Message"
    (visibilityEmitter)="isFailure = $event"
  ></app-failure-result-notification>
</div>
