<div class="education-plans-table-container">
  <div class="education-plans-table-wrapper">
    <section>
      <div class="education-plans-controls-container">
        <div class="dropdown-container">
          <app-blue-button [label]="'Добавить'" (onClicked)="creationModalVisibility = true"></app-blue-button>
          <app-create-education-plan-dropdown [visibility]="creationModalVisibility" *ngIf="creationModalVisibility"
                                              (refreshRequested)="facadeService.refreshPagination(); ngOnInit()"
                                              (visibilityChanged)="creationModalVisibility = $event">
          </app-create-education-plan-dropdown>
        </div>
        <div class="dropdown-container">
          <app-blue-button [label]="'Фильтр'" (onClicked)="filterModalVisibility = true"></app-blue-button>
          <app-filter-education-plan-dropdown [visibility]="filterModalVisibility" *ngIf="filterModalVisibility"
                                              (refreshRequested)="ngOnInit()"
                                              (visibilityChanged)="filterModalVisibility=false">
          </app-filter-education-plan-dropdown>
        </div>
        <app-blue-outline-button [label]="'Документация'"
                                 [routerLink]="['/education-plans-info']"></app-blue-outline-button>
      </div>
      @for (item of plans; track item.id) {
        <app-education-plan-item [plan]="item" [currentSelected]="selectedPlan"
                                 (itemSelectionChanged)="selectedPlan = $event"
                                 (itemDeletionRequested)="selectedPlanForDeletion = $event">
        </app-education-plan-item>
      }
      <app-education-plans-pagination></app-education-plans-pagination>
    </section>
  </div>
  <app-education-plan-item-workspace *ngIf="selectedPlan"
                                     [selectedEducationPlan]="selectedPlan"
                                     [selectedSemester]="selectedPlan.semesters[0]"></app-education-plan-item-workspace>
</div>
<app-education-plan-deletion-modal *ngIf="selectedPlanForDeletion" [plan]="selectedPlanForDeletion"
                                   (visibility)="selectedPlanForDeletion = null"
                                   (refreshEmiiter)="facadeService.refreshPagination(); ngOnInit();">
</app-education-plan-deletion-modal>
<app-success-result-notification
  *ngIf="notificationService.isSuccess"
  [message]="notificationService.Message"
  (visibilityEmitter)="notificationService.reset()"
></app-success-result-notification>
<app-failure-result-notification
  *ngIf="notificationService.isFailure"
  [message]="notificationService.Message"
  (visibilityEmitter)="notificationService.reset()"
></app-failure-result-notification>
