<div id="container">
  <div id="header">
    <strong>Подтверждение</strong>
  </div>
  <div id="content">
    <a>Вы уверены, что Вы хотите удалить запись направления подготовки?</a>
    <a>При удалении направления подготовки удалятся связанные с ним записи:</a>
    <a>Учебный план</a>
    <a>Семестры</a>
    <a>Дисциплины</a>
    <a>Оценки</a>
  </div>
  <div id="controls">
    <button class="accept-button-modal" type="button" (click)="confirm()">
      Подтвердить
    </button>
    <button
      class="danger-button-modal"
      type="button"
      (click)="visibility.emit(false)"
    >
      Отмена
    </button>
  </div>
</div>
