<div id="container">
  <div id="header">
    <strong>Удалить направление подготовки</strong>
  </div>
  <div id="content">
    <a>Удалить направление подготовки {{ direction.name }} {{ direction.code }} {{ direction.type }}</a>
    <a>При удалении направления подготовки удаляются учебные планы этого направления, дисциплины</a>
  </div>
  <div id="controls">
    <app-green-outline-button [label]="'Удалить'" (onClicked)="confirm()"></app-green-outline-button>
    <app-red-outline-button [label]="'Закрыть диалог'" (onClicked)="close()"></app-red-outline-button>
  </div>
</div>
