<div class="navigation-links">
  <a [routerLink]="'/education-plans'">Учебные планы</a>
  <a>Учебные планы документация</a>
</div>
<section class="info-container">
  <div class="info-header-container">
    <strong class="info-header">Информация о взаимодействии с учебными планами.</strong>
  </div>
  <div class="sub-title-container">
    <strong class="sub-title">
      Учебные планы.
    </strong>
    <div class="content-container">
      <p>Учебные планы объединяют в себе информацию о годе учебного плана, для какого направления подготовки
        сформирован.</p>
      <p class="color-red">Год учебного плана для одного направления подготовки должен всегда быть уникальным.</p>
      <p>Учебные планы так же содержат информацию о семестрах учебного плана.</p>
      <p>При создании учебного плана для магистратуры формируются 4 пустых семестра.</p>
      <p>При создании учебного плана для бакалавриата формируются 8 пустых семестра.</p>
      <p>Чтобы просмотреть семестры учебного плана, необходимо нажать на кнопку семестра соответствующего учебного
        плана.</p>
      <p>В меню семестров можно просмотреть меню дисциплин семестров.</p>
    </div>
    <strong class="sub-title">
      Управление дисциплинами семестров. Добавление.
    </strong>
    <div class="content-container">
      <p>Каждый семестр может содержать в себе N количество дисциплин.</p>
      <p class="color-red">Каждая дисциплина в семестре должна быть уникальна (без повторяющихся названий).</p>
    </div>
    <strong class="sub-title">
      Управление дисциплинами семестров. Редактирование.
    </strong>
    <div class="content-container">
      <p>При редактировании дисциплины допустимы следующие операции: закрепление преподавателя, изменение название
        дисциплины.</p>
      <p>При закреплении дисциплины преподавателю, преподавателю добавляется дисциплина.</p>
      <p class="color-red">Преподаватель не может вести одну и ту же дисциплину, за исключением, если они из разных
        семестров.</p>
      <p>Например, преподавателю допускается ведение дисциплины "программирование" из 1 семестра, и ведение дисциплины
        "программирование" из 3 семестра.</p>
      <p class="color-red">При редактировании названия дисциплины необходимо учитывать уникальность нового имени.</p>
    </div>
    <strong class="sub-title">
      Управление дисциплинами семестров. Удаление
    </strong>
    <div class="content-container">
      <p>При удалении дисциплины в семестре удаляется сама дисциплина.</p>
      <p class="color-red">Если в момент удаления у дисциплины закреплен преподаватель - то данная дисциплина
        открепляется от преподавателя.</p>
    </div>
    <strong class="sub-title">
      Управление семестрами.
    </strong>
    <div class="content-container">
      <p>Семестры невозможно добавить или удалить, только изменять дисциплины внутри семестров разрешено.</p>
    </div>
  </div>
</section>
