.info-container {
  background-color: #ffffff;
  border: solid 1px #d9d9d9;
  height: 89vh;
  width: auto;
  border-radius: 10px;
  overflow: auto;
}

.info-header-container {
  border-radius: 10px 10px 0px 0px;
  padding: 15px;
  border-bottom: solid 1px #d9d9d9;
}

.info-header {
  color: #1c172e;
  font-weight: 800;
  font-size: 18px;
}

.navigation-links {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 5px;
  font-size: 20px;
  font-weight: 800;
  text-decoration: underline;
  cursor: pointer;
}

.sub-title-container {
  border-bottom: solid 1px #d9d9d9;
}

.sub-title {
  padding: 10px;
  color: #1c172e;
  font-weight: 800;
  font-size: 18px;
}

.color-red {
  color: darkred;
}

.content-container {
  font-weight: 600;
  padding: 15px;
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #d9d9d9;
}
