:host {
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
}

.admin-user-plans-wrapper {
  padding: 0.5rem;
  display: inline-flex;
  flex-direction: row;
  background-color: #f2f2f2;
  border-radius: 5px;
  border: solid 1px #d9d9d9;
  width: 100%;
  gap: 1rem;
  user-select: none;
  transition: 0.3s ease-in-out;
  text-shadow: 1px 1px #d9d9d9;
  box-shadow: 1px 1px #d9d9d9;
}

.admin-plans-controls {
  display: inline-flex;
  flex-direction: row;
  gap: 0.5rem;
}

.admin-plans-label {
  display: block;
  font-weight: bold;
  font-size: 14px;
}
