<div class="text-container">
  <span>Контрольные недели на странице администрирования - временные формы, необходимые для того, чтобы в них проставляли оценки.</span>
  <span>После закрытия контрольной недели на странице администрирования, контрольная неделя сохраняется в отчёт.</span>
  <div class="text-row">
    <span>Отчёты о контрольных неделях можно просмотреть на странице:</span>
    <a style="font-weight: bold; text-decoration: underline; color: #1a88ff" [routerLink]="['/reports']">Отчёты
      контрольных недель.</a>
  </div>
  <span style="font-weight: bold">Для создания контрольной недели необходимо:</span>

  <div class="text-row">
    <span style="font-weight: bold">1. Создать направления подготовки</span>
    <a style="font-weight: bold; text-decoration: underline; color: #1a88ff"
       [routerLink]="['/education-directions']">Направления подготовки.</a>
  </div>

  <div class="text-row">
    <span style="font-weight: bold">2. Создать учебные планы для направлений подготовки</span>
    <a style="font-weight: bold; text-decoration: underline; color: #1a88ff" [routerLink]="['/education-directions']">Направления
      подготовки.</a>
    <a style="font-weight: bold; text-decoration: underline; color: #1a88ff" [routerLink]="['/education-plans']">Учебные
      планы.</a>
  </div>

  <div class="text-row">
    <span style="font-weight: bold">3. Наполнить учебные планы дисциплинами</span>
    <a style="font-weight: bold; text-decoration: underline; color: #1a88ff" [routerLink]="['/education-plans']">Учебные
      планы.</a>
  </div>

  <div class="text-row">
    <span style="font-weight: bold">4. Закрепить преподавателей за дисциплинами</span>
    <a style="font-weight: bold; text-decoration: underline; color: #1a88ff"
       [routerLink]="['/departments']">Кафедры.</a>
    <a style="font-weight: bold; text-decoration: underline; color: #1a88ff" [routerLink]="['/education-plans']">Учебные
      планы.</a>
  </div>

  <div class="text-row">
    <span style="font-weight: bold">5. Создать студенческие группы и наполнить студентами</span>
    <a style="font-weight: bold; text-decoration: underline; color: #1a88ff" [routerLink]="['/groups']">Студенческие
      группы.</a>
  </div>

  <div class="text-row">
    <span style="font-weight: bold">6. Прикрепить студенческий план и активный семестр студенческим группам.</span>
    <a style="font-weight: bold; text-decoration: underline; color: #1a88ff" [routerLink]="['/groups']">Студенческие
      группы.</a>
  </div>

  <div class="text-row">
    <span style="font-weight: bold">7. Начать контрольную неделю на странице:</span>
    <a style="font-weight: bold; text-decoration: underline; color: #1a88ff" [routerLink]="['/assignment-sessions']">Контрольные
      недели.</a>
  </div>

</div>
