<div id="container">
  <div id="header">
    <strong>Добавление нового администратора</strong>
  </div>
  <div id="content">
    <input
      placeholder="Фамилия"
      [(ngModel)]="user.surname"
      class="default-input"
    />
    <input placeholder="Имя" [(ngModel)]="user.name" class="default-input" />
    <input
      placeholder="Отчество"
      [(ngModel)]="user.patronymic"
      class="default-input"
    />
    <input placeholder="Email" [(ngModel)]="user.email" class="default-input" />
  </div>
  <div id="controls">
    <button class="accept-button-modal" type="button" (click)="submit()">
      Добавить
    </button>
    ><button
      class="danger-button-modal"
      type="button"
      (click)="visibility.emit(false)"
    >
      Закрыть окно
    </button>
  </div>
</div>
