<section class="education-plan-semester-list-layout">
  <div class="education-plan-semester-list-title">
    <label>Семестры учебного плана</label>
  </div>
  <div class="education-plan-semester-list-container">
    <div class="education-plan-semesters-plan-title">
      <label>{{ educationPlan.direction.name }}</label>
      <label>{{ educationPlan.direction.type }}</label>
      <label>{{ educationPlan.year }}</label>
    </div>
    <app-semester-item *ngFor="let semester of educationPlan.semesters" [semester]="semester"
                       [isSelectedSemester]="selectedSemester != null && selectedSemester.id == semester.id"
                       (selectSemester)="selectedSemester = semester; semesterSelected.emit(selectedSemester)">
    </app-semester-item>
  </div>
</section>
