<div class="dbmanager-semesters-search-form-layout">
  <form [formGroup]="form" class="dbmanager-semesters-search-form">
    <div class="form-header-wrapper">
      <strong>{{ title }}</strong>
    </div>
    <div class="dbmanager-semesters-search-form-content">
      <input
        formControlName="groupName"
        class="default-input"
        placeholder="Название группы"
      />
      <input
        formControlName="number"
        class="default-input"
        placeholder="Номер семестра"
      />
      <div class="buttons-wrapper margin-top-15">
        <button
          type="button"
          class="btn btn-info w-100"
          (click)="searchClick()"
        >
          Найти
        </button>
        <button
          type="button"
          class="btn btn-danger color-black w-100"
          (click)="cancelClick()"
        >
          Отменить
        </button>
      </div>
    </div>
  </form>
</div>
