<div id="container">
  <div id="header">
    <strong>Фильтр списка</strong>
  </div>
  <div id="content">
    <input
      [(ngModel)]="department.name"
      class="default-input"
      placeholder="Полное название кафедры"
    />
  </div>
  <div id="controls">
    <button type="button" class="accept-button-modal" (click)="submit()">
      Отфильтровать
    </button>
    <button type="button" class="danger-button-modal" (click)="cancelFilter()">
      Отменить фильтр
    </button>
    <button
      type="button"
      class="danger-button-modal"
      (click)="visibility.emit(false)"
    >
      Закрыть окно
    </button>
  </div>
</div>
