<div class="departments-table-wrapper">
  <div class="departments-controls-container">
    <div class="dropdown-container">
      <app-blue-button [label]="'Добавить'" (onClicked)="isCreatingDepartment = true"></app-blue-button>
      <app-department-create-dropdown *ngIf="isCreatingDepartment"
                                      [visibility]="isCreatingDepartment"
                                      (visibilityChange)="isCreatingDepartment = false"
                                      (departmentAdded)="handleCreatedDepartment($event)">
      </app-department-create-dropdown>
    </div>
    <div class="dropdown-container">
      <app-blue-button [label]="'Фильтр'" (onClicked)="isFiltering = true"></app-blue-button>
      <app-department-filter-dropdown *ngIf="isFiltering"
                                      [visibility]="isFiltering"
                                      (visibilityChange)="isFiltering = false"
                                      (filtered)="handleFilter()">
      </app-department-filter-dropdown>
    </div>
    <app-blue-outline-button [label]="'Документация'" (onClicked)="navigateToDocumentation()"></app-blue-outline-button>
  </div>
  <app-department-item *ngFor="let department of departments" [department]="department"
                       [isCurrentlySelected]="manageSelectedDepartment(department)"
                       (selected)="currentlySelectedDepartment = $event; departmentSelected.emit($event)"
                       (removeRequested)="departmentToRemove = $event; isDeletingDepartment = true">
  </app-department-item>
  <app-department-pagination></app-department-pagination>
</div>
<app-department-deletion-modal *ngIf="isDeletingDepartment && departmentToRemove"
                               [department]="departmentToRemove"
                               [visibility]="isDeletingDepartment"
                               (visibilityChange)="isDeletingDepartment = $event"
                               (deleteCommited)="handleDeletedDepartment($event)">
</app-department-deletion-modal>
