<div class="create-group-form-layout">
  <form [formGroup]="form" class="create-group-form" (submit)="submit()">
    <div class="form-header-wrapper">
      <strong>{{ title }}</strong>
    </div>
    <div class="create-group-form-content">
      <input
        formControlName="groupName"
        class="default-input"
        placeholder="Название группы"
      />
      <button class="btn btn-info w-100 margin-top-15">Добавить</button>
    </div>
  </form>
</div>
<div id="success-modal-form-renderer" *ngIf="successModalState.Visibility">
  <app-success-notification-form
    (modalDisabled)="successModalState.turn($event)"
  >
  </app-success-notification-form>
</div>
<div id="failure-modal-form-renderer" *ngIf="failureModalState.Visibility">
  <app-failure-notification-form
    (modalDisabled)="failureModalState.turn($event)"
  >
  </app-failure-notification-form>
</div>
