<div id="container">
  <div id="header">
    <strong>Удаление отчёта контрольной недели</strong>
  </div>
  <div id="content">
    <a>Удалить отчёт о контрольной неделе</a>
    <a>Сезон: {{ reportToDelete.season }}</a>
    <a>Номер: {{ reportToDelete.number }}</a>
    <a>Дата начала: {{ reportToDelete.creationDate | date: 'd-M-y' }}</a>
    <a>Дата окончания: {{ reportToDelete.completionDate | date: 'd-M-y' }}</a>
  </div>
  <div id="controls">
    <app-green-outline-button [label]="'Удалить'" (onClicked)="submit()"></app-green-outline-button>
    <app-red-outline-button [label]="'Закрыть окно'" (onClicked)="close()"></app-red-outline-button>
  </div>
</div>
