<div id="container">
  <div id="header">
    <strong>Семестры</strong>
  </div>
  <div id="content">
    <div class="search-table-wrapper">
      <table class="semesters-table">
        <thead>
        <tr>
          <th>Номер семестра</th>
          <th>Число дисциплин</th>
          <th>Действия</th>
        </tr>
        </thead>
        <tbody>
          @for (semester of semesters; track semester.number) {
            <tr>
              <td>{{ semester.number }}</td>
              <td>{{ semester.contractsCount }}</td>
              <td>
                <button class="accept-button" (click)="openSemesterModal(semester)">
                  Открыть дисциплины
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  <div id="controls">
    <button class="danger-button-modal" (click)="close()">Закрыть окно</button>
  </div>
</div>
<div
  id="semester-disciplines-modal-renderer"
  *ngIf="activeSemesterModalVisibility"
>
  <app-semester-disciplines-modal
    [semester]="activeSemester"
    (visibility)="closeSemesterModal($event)"
  ></app-semester-disciplines-modal>
</div>
