<div class="dbmanager-semesters-create-form-layout">
  <form
    [formGroup]="form"
    class="dbmanager-semesters-create-form"
    (submit)="submit()"
  >
    <div class="form-header-wrapper">
      <strong>{{ title }}</strong>
    </div>
    <div class="dbmanager-semesters-create-form-content">
      <input
        readonly
        [value]="selectedStudentGroupFromChild"
        (click)="openGroupSelectionModal()"
        formControlName="groupName"
        class="default-input"
        placeholder="Название группы"
      />
      <input
        readonly
        [value]="
          selectedSemesterNumberValueFromChild == 0
            ? ''
            : selectedSemesterNumberValueFromChild
        "
        (click)="openNumberSelectionModal()"
        formControlName="number"
        class="default-input"
        placeholder="Номер семестра"
      />
      <button class="btn btn-info w-100 margin-top-15">Добавить</button>
    </div>
  </form>
</div>
<div id="group-selection-modal-renderer" *ngIf="isGroupSelectionModalOpened">
  <app-semesters-search-group-modal-form
    (selectedGroup)="getSelectedGroupFromChild($event)"
    (modalDisabled)="checkModalState($event)"
  ></app-semesters-search-group-modal-form>
</div>
<div id="number-selection-modal-renderer" *ngIf="isNumberSelectionModalOpened">
  <app-semesters-select-number-modal-form
    (selectedValue)="getSelectedNumberFromChild($event)"
    (modalDisabled)="checkModalState($event)"
  ></app-semesters-select-number-modal-form>
</div>
<div id="success-modal-renderer" *ngIf="successModalState.Visibility">
  <app-success-notification-form
    (modalDisabled)="successModalState.turn($event)"
  ></app-success-notification-form>
</div>
<div id="failure-modal-renderer" *ngIf="failureModalState.Visibility">
  <app-failure-notification-form
    (modalDisabled)="failureModalState.turn($event)"
  ></app-failure-notification-form>
</div>
