<section class="plan-page-layout">
  <div class="plan-page-navigation">
    <a
      class="link-navigation"
      [routerLink]="['/database-manager-semesters']"
      routerLinkActive="router-link-active"
      >Вернуться в меню семестров</a
    >
  </div>
  <div class="plan-page-header">
    <strong
      >Семестр группы: {{ facadeService.currentSemester.groupName }}. Номер
      семестра: {{ facadeService.currentSemester.number }}</strong
    >
  </div>
  <section class="plan-page-content">
    <div class="plan-page-left-side">
      <section class="left-side">
        <app-plan-create
          [currentSemester]="facadeService.currentSemester"
        ></app-plan-create>
        <app-plan-manage
          [currentSemester]="facadeService.currentSemester"
        ></app-plan-manage>
        <app-plan-filter
          [currentSemester]="facadeService.currentSemester"
        ></app-plan-filter>
      </section>
    </div>
    <div class="plan-page-center-side">
      <app-plan-table [semesterPlans]="facadeService.plans"></app-plan-table>
    </div>
  </section>
</section>
