<div class="dbmanager-control-panel-layout">
  <div class="dbmanager-control-panel-header">
    <strong>Управление группами</strong>
  </div>
  <div class="dbmanager-control-form-wrapper">
    <app-dbmanager-studentgroups-create-group-form></app-dbmanager-studentgroups-create-group-form>
    <app-dbmanager-studentgroups-edit-group-form></app-dbmanager-studentgroups-edit-group-form>
    <app-dbmanager-studentgroups-filter-group-form></app-dbmanager-studentgroups-filter-group-form>
    <app-dbmanager-studentgroups-merge-group-form></app-dbmanager-studentgroups-merge-group-form>
  </div>
</div>
