.side-bar {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  height: 100vh;
  color: #ffffff;
  background: rgb(0, 111, 230);
  background: linear-gradient(
      0deg,
      rgba(0, 111, 230, 1) 0%,
      rgba(0, 122, 255, 1) 100%,
      rgba(2, 0, 36, 1) 100%
  );
  box-shadow: #1b274b 10px 10px 20px -10px;
}

.side-bar-title-container {
  padding: 20px;
}

.side-bar-title {
  font-size: 24px;
  font-weight: 800;
  border-bottom: 1px solid #ffffff;
  cursor: default;
}

.menu-header {
  padding: 0px 40px;
  font-size: 24px;
  font-weight: 800;
  cursor: default;
}

.menu-content-container {
  padding: 10px 45px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.side-bar-menu-button {
  text-align: left;
  color: #ffffff;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  outline: none;
  transition: 0.1s;
  height: 45px;

  &:hover {
    border-radius: 9999px 0px 0px 9999px;
    background-color: #ecf4ff;
    color: #007aff;
  }
}

.focused {
  border-radius: 9999px 0px 0px 9999px;
  background-color: #ecf4ff;
  color: #007aff;
}
