<div class="side-bar">
  <div class="side-bar-title-container">
    <strong class="side-bar-title">Портал контрольных недель ЛФ СибГУ</strong>
  </div>
  <strong class="menu-header">Основное меню:</strong>
  <div class="menu-content-container">
    <button
      class="side-bar-menu-button"
      [routerLink]="['/login']"
    >
      • Авторизация
    </button>
    <button
      *ngIf="authService.isAuthorized"
      class="side-bar-menu-button"
      [routerLink]="['/user']"
    >
      • Личный кабинет
    </button>
    <button
      *ngIf="
        authService.isAuthorized && authService.userData.role == 'Администратор'
      "
      class="side-bar-menu-button"
      [routerLink]="['/administration']"
    >
      • Администрирование
    </button>
    <button
      *ngIf="
        authService.isAuthorized && authService.userData.role == 'Преподаватель'
      "
      class="side-bar-menu-button"
      [routerLink]="['/teacher-assignments']"
    >
      • Преподавателям
    </button>
    <button class="side-bar-menu-button" [routerLink]="['/reports']">• Отчёты контрольных недель</button>
  </div>
</div>
