.side-bar {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  height: 100vh;
  color: #ffffff;
  background-color: #7c91d0;
  box-shadow: #1b274b 10px 10px 20px -10px;
}

.menu-header {
  padding: 10px 10px;
}

.side-bar-menu-button {
  color: #ffffff;
  cursor: pointer;
  padding: 10px 10px;
  font-size: 14px;
  width: 100%;
  font-weight: bold;
  text-align: left;
  background-color: transparent;
  border: none;
  outline: none;
  transition: 0.1s;

  &:hover {
    background-color: #3d58a9;
  }
}

.focused {
  border-right: 3px solid #7dc71c;
  background-color: #3d58a9;
}
