.side-bar {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  height: 100vh;
  color: #ffffff;
  background: rgb(0, 111, 230);
  background: linear-gradient(
      0deg,
      rgba(0, 111, 230, 1) 0%,
      rgba(0, 122, 255, 1) 100%,
      rgba(2, 0, 36, 1) 100%
  );
  box-shadow: #1b274b 10px 10px 20px -10px;
  user-select: none;
}

.side-bar-title-container {
  padding: 20px;
  min-height: 120px;
  max-height: 120px;
}

.side-bar-title {
  font-size: 24px;
  font-weight: 800;
  border-bottom: 1px solid #ffffff;
  cursor: default;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    transition: 0.3s;
    color: #5CE600;
  }
}

.logo-container {
  padding: 10px;
  margin-top: auto;
}

.menu-header {
  text-decoration: underline;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 10px 55px;
  font-size: 24px;
  font-weight: 800;
  cursor: pointer;
  height: 70px;

  &:hover {
    border-radius: 9999px 0 0 9999px;
    background-color: #ecf4ff;
    color: #007aff;

    .side-bar-menu-button-icon {
      filter: invert(33%) sepia(35%) saturate(4250%) hue-rotate(199deg) brightness(100%) contrast(110%);
    }
  }
}

.menu-content-container {
  padding: 10px 45px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.side-bar-control-container {
  display: inline-flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.side-bar-menu-button {
  text-align: left;
  color: #ffffff;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  outline: none;
  transition: 0.1s;
  height: 45px;
  display: inline-flex;
  padding: 0.5rem;
  align-items: center;
  gap: 1rem;

  &:hover {
    border-radius: 9999px 0 0 9999px;
    background-color: #ecf4ff;
    color: #007aff;

    .side-bar-menu-button-icon {
      filter: invert(33%) sepia(35%) saturate(4250%) hue-rotate(199deg) brightness(100%) contrast(110%);
    }
  }
}

.menu-button-label {
  cursor: pointer;
}

.focused {
  cursor: pointer;
  border-radius: 9999px 0 0 9999px;
  background-color: #ecf4ff;
  color: #007aff;
}

.side-bar-menu-button-icon {
  cursor: pointer;
  filter: invert(99%) sepia(33%) saturate(7083%) hue-rotate(178deg) brightness(107%) contrast(108%);
  transition: 0.1s;
}

.side-bar-menu-button-icon-focused {
  cursor: pointer;
  filter: invert(33%) sepia(35%) saturate(4250%) hue-rotate(199deg) brightness(100%) contrast(110%);
}

.logo-image-monochrome {
  filter: brightness(0) invert(1);
}
