<div class="dropdown-content">
  <app-floating-label-input [value]="groupName" [label]="'Название группы'"
                            [id]="'GroupNameInput'" (inputChange)="groupName = $event">
  </app-floating-label-input>
  <div class="dropdown-controls">
    <app-green-outline-button [label]="'Применить'" (onClicked)="submit()"></app-green-outline-button>
    <app-red-outline-button [label]="'Отменить'" (onClicked)="cancel()"></app-red-outline-button>
    <app-red-outline-button [label]="'Закрыть'" (onClicked)="close()"></app-red-outline-button>
  </div>
</div>
