<div class="navigation-links">
  <a [routerLink]="'/users'">Пользователи</a>
  <a>Пользователи документация</a>
</div>
<section class="education-direction-info-container">
  <div class="education-direction-info-header-container">
    <strong class="education-direction-info-header">Информация о взаимодействии с пользователями.</strong>
  </div>
  <div class="sub-title-container">
    <strong class="sub-title">
      Пользователи.
    </strong>
    <div class="content-container">
      <p>В системе допускаются два вида пользователей - администратор и преподаватель.</p>
      <p>Администраторов можно свободно добавлять в систему. Они будут иметь права на изменение данных в системе
        (например дисциплин).</p>
      <p>Преподавателей можно добавить только, если есть создана запись преподавателя в кафедре.</p>
      <p>При регистрации пользователей указывается их электронная почта.</p>
      <p class="color-red">Электронная почта пользователя всегда должна быть уникальна.</p>
      <p>При регистрации пользователя на его почту высылается информация о пароле для входа.</p>
      <p>Пользователи авторизуются используя свои почту и пароль, которые находятся в этой системе.</p>
      <p>При удалении пользователя на его почту высылается информация о том, что его учетная запись была удалена.</p>
    </div>
    <strong class="sub-title">
      Пользователи. Права. Администратор.
    </strong>
    <div class="content-container">
      <p>Администратор может:</p>
      <p>Взаимодействовать с данными системы такими как: Направления подготовки, Учебные планы, Семестры, Дисциплины,
        Кафедры, Преподаватели, Студенческие группы, Студенты</p>
      <p>Регистрировать новых пользователей в системе.</p>
      <p>Закрывать контрольную неделю для формирования отчёта.</p>
      <p>Смотреть и скачивать отчёты о контрольных неделях.</p>
    </div>
    <strong class="sub-title">
      Пользователи. Права. Преподаватель.
    </strong>
    <div class="content-container">
      <p>Преподаватель может:</p>
      <p>Проставлять оценки в контрольной неделе.</p>
      <p>Смотреть и скачивать отчёты о контрольных неделях.</p>
    </div>
  </div>
</section>
