<div id="container">
  <div id="header">
    <strong>Редактирование студента</strong>
  </div>
  <div id="content">
    <p class="info-label">
      Выберите секцию
    </p>
    <div class="tab-form">
      <ul class="tab-form-ul">
        <li (click)="selectSection(section, $event)"
            *ngFor="let section of sections"
            [ngClass]="{'tab-form-li-active': sectionId === section.id}"
            class="tab-form-li"
        >
          {{ section.name }}
        </li>
      </ul>
      <div class="tab-form-content">
        <app-change-student-data-dialog
          @fadeIn
          *ngIf="sectionId == 0"
          [group]="studentGroup"
          [student]="student">
        </app-change-student-data-dialog>
        <app-move-student-dialog
          @fadeIn
          *ngIf="sectionId == 1"
          [currentGroup]="studentGroup"
          [student]="student">
        </app-move-student-dialog>
      </div>
    </div>
  </div>
  <div id="controls">
    <app-red-outline-button [label]="'Закрыть'" (onClicked)="visibilityChanged.emit()"></app-red-outline-button>
  </div>
</div>
