.semester-page-view-layout {
  display: grid;
  grid-template-columns: 700px 985px;
  padding: 10px;
  grid-gap: 10px;
}

.control-section {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 10px;
  grid-gap: 160px;
}
