<div class="semester-plan-card-wrapper">
  <div class="semester-plan-content">
    <strong>{{ semesterPlan.planName }}</strong>
    <div
      [ngClass]="[
        isTeacherAttached
          ? 'teacher-state-info teacher-exists'
          : 'teacher-state-info teacher-empty'
      ]"
      [hidden]="isTeacherAttached"
    >
      <strong>Преподаватель не закреплён.</strong>
    </div>
  </div>
  <div class="semester-plan-button-list">
    <button type="button" class="btn btn-info" (click)="openCardInfoModal()">
      Информация
    </button>
    <button
      type="button"
      class="btn btn-info"
      (click)="facadeService.setSelection = semesterPlan"
    >
      Выбрать
    </button>
  </div>
</div>
<div id="plan-card-info-modal-renderer" *ngIf="isModalEnabled">
  <app-semester-plan-card-info
    [cardPlanInfo]="semesterPlan"
    (modalDisabled)="checkModalState($event)"
    (selectedTeacher)="getTeacherInfoFromModal($event)"
  ></app-semester-plan-card-info>
</div>
