<div id="container">
  <div id="header">
    <strong>Регистрация преподавателя</strong>
  </div>
  <div id="content">
    <label class="label-info">Регистрация преподавателя</label>
    <label class="label-info">{{ registerTeacher.surname }}</label>
    <label class="label-info">{{ registerTeacher.name }}</label>
    <label class="label-info" @fadeIn
           *ngIf="registerTeacher.patronymic != null">{{ registerTeacher.patronymic }}</label>
    <app-floating-label-input [label]="'Почта'"
                              [value]="email"
                              (inputChange)="email = $event">
    </app-floating-label-input>
    <app-green-outline-button [label]="'Зарегистрировать'"
                              (onClicked)="register()">
    </app-green-outline-button>
  </div>
  <div id="controls">
    <app-red-outline-button [label]="'Закрыть'"
                            (onClicked)="visibilityChanged.emit()">
    </app-red-outline-button>
  </div>
</div>
