<div class="navigation-links">
  <a [routerLink]="'/education-directions'">Направления подготовки</a>
  <a>Направления подготовки документация</a>
</div>
<section class="education-direction-info-container">
  <div class="education-direction-info-header-container">
    <strong class="education-direction-info-header">Информация о взаимодействии с направлениями подготовок</strong>
  </div>
  <div class="sub-title-container">
    <strong class="sub-title">
      Направление подготовки
    </strong>
    <div class="content-container">
      <p>Направление подготовки объявляет тип направления (бакалавриат и магистратура), код и наименование.</p>
      <p>Направление подготовки объединяет в себе учебные планы, созданные для направления.</p>
      <p class="color-red">Направление подготовки не может содержать в себе учебные планы одинакового года.</p>
    </div>
    <strong class="sub-title">
      Добавление направления подготовки
    </strong>
    <div class="content-container">
      <p>Добавление направления подготовки - создаёт экземпляр направления подготовки в системе.</p>
      <p class="color-red">Код направления подготовки должен быть уникальным.</p>
      <p class="color-red">Наименование и тип направления подготовки не могут быть пустыми.</p>
    </div>
    <strong class="sub-title">
      Удаление направления подготовки
    </strong>
    <div class="content-container">
      <p>Удаление направления подготовки - удаляет направление подготовки из системы.</p>
      <p class="color-red">При удалении направления подготовки удаляется следующее:</p>
      <p class="color-red">Учебный план, привязанный к направлению подготовки:</p>
      <p class="color-red">Семестры связанного учебного плана:</p>
      <p class="color-red">Дисциплины семестров связанного учебного плана</p>
    </div>
    <strong class="sub-title">
      Редактирование направлений подготовки
    </strong>
    <div class="content-container">
      <p>Редактирование направлений подготовки позволяет изменить код, наименование и тип.</p>
      <p class="color-red">При изменении кода направления подготовки, новый код должен быть уникальным.</p>
    </div>
    <strong class="sub-title">
      Фильтрация направлений подготовки
    </strong>
    <div class="content-container">
      <p>Фильтрация списка позволяет отфильтровать список направлений подготовки по заполненным критериям.</p>
      <p>При фильтре допустимо не заполнять все поля, а заполнить только необходимые (например только код или тип).</p>
    </div>
  </div>
</section>
